extends ./__post-layout.pug

block post-content
    p.post-container__text-block OAKLAND, CA &ndash; Diya Health, a digital health technology platform that bridges the family engagement gap, announced today the appointment of Joe Ponnezhan, MD, as its Executive Medical Director. Dr. Ponnezhan, who has practiced as a pulmonary and critical care physician for more than ten years, contributes invaluable knowledge about healthcare systems and clinical workflows.
    p.post-container__text-block “Dr. Ponnezhan's passion for clinical excellence, operational efficiencies, and digital health technologies make him uniquely qualified to lead our medical team. We're incredibly fortunate and grateful to have someone with his credentials and business acumen join our team,” said Amit Bansal, CEO of Diya Health. 
    p.post-container__text-block Dr. Ponnezhan currently serves as the Medical Director of the Intensive Care Unit at AHMC Healthcare’s Garfield Medical Center. Prior to Garfield Medical Center, he practiced at leading health systems including Keck Medicine of USC and PIH Health.
    p.post-container__text-block “Diya is making a difference in the way that healthcare is delivered. It improves communication between patients, families, and physicians, which is essential to providing high-quality care,” said Dr. Ponnezhan. “I am proud to be a part of this team.”
