extends ./__post-layout.pug

block post-content
    p.post-container__text-block Effective communication is crucial for providing quality care in the diverse healthcare landscape. Language barriers, however, pose significant challenges that can impede the delivery of accurate and timely medical services. 

    p.post-container__text-block 
        strong Key Problems
        ol
            li 
                u Difficult to Access: 
                span Qualified interpreters are scarce, especially for less common languages. This leads to delays in care as clinicians struggle to find interpreters proficient in the languages needed.
            li 
                u Long Wait:
                span Time is critical to providing effective, high-quality care. However, doctors and patients wait up to 15 minutes for an interpreter -- time that should be spent treating patients.
            li
                u High Cost:
                span Interpreter services are expensive, costing healthcare organizations upwards of $2 per minute and straining budgets.
            li
                u Compliance
                span Ensuring accurate interpretation is crucial, yet interpreter services often lack a confirmation that the information communicated by the doctor to the patient was correct. This ambiguity can result in misunderstanding of diagnosis, non-adherence to treatment plans, and, ultimately, compromised patient care.

    p.post-container__text-block 
        strong Solution
        br
        span Diya AI Interpreter solves these significant problems with current interpretation services to exceed health systems’ needs.
        ol
            li 
                u Easy to Access:
                span It ensures the interpreter services that clinicians need live in their coat pockets. It goes where clinicians go, with 100+ languages at their fingertips, 24/7.
            li 
                u No Wait:
                span It is available immediately to support in-person visits, telehealth calls, and phone calls with the highest quality and consistency.
            li
                u Low Cost:
                span  It costs just $0.33 per minute, a fraction of the $2 per minute that health systems currently pay. This means that a 150-bed hospital, for example, can save over $400K per year in interpretation costs.
            li
                u Exceeds Legal Requirements:
                span It adheres to federal and state regulations, is HIPAA-compliant, and maintains a full, immutable transcript history of all calls.

    p.post-container__text-block 
        strong Conclusion:
        br
        span Addressing the problems associated with existing interpretation services is essential for inclusive, efficient, and patient-centered healthcare delivery. With Diya AI Interpreter, healthcare organizations can quickly mitigate the impact of language barriers to provide optimal care for all patients.
