extends ./__post-layout.pug

block post-content
    p.post-container__text-block 
        | Healthcare providers have increasingly recognized the pivotal role of family members and caregivers in patient care. Family involvement is linked to greater patient outcomes and lower readmission rates. In the article&nbsp;
        a(href='https://patientengagementhit.com/features/how-can-hospitals-measure-family-experience-with-communication') "How Can Hospitals Measure Family Experience with Communication?"&nbsp;
        | researchers explore how provider organizations can leverage communication strategies to enhance the family experience.

    p.post-container__text-block Researchers at the Regenstrief Institute have taken a significant step in enhancing the family experience by developing the Family Inpatient Communication Survey (FICS). This innovative survey assesses how clinicians communicate with family members when patients cannot make decisions for themselves due to illness or incapacity. The FICS consists of a 30-item questionnaire examining two critical aspects of communication: emotional and relational communication and informational communication. 
    p.post-container__text-block The information gathered from the FICS is invaluable for several reasons. It serves as a guiding post for quality improvement projects to enhance family engagement. Furthermore, it has the potential to positively impact clinical outcomes, particularly by addressing the emotional toll experienced by family caregivers. Stress and anxiety among family members can negatively affect both their well-being and the patient's recovery. Developing relational communication can alleviate some of this emotional distress while enhancing the delivery of clinical information, which can aid in better clinical decision-making.
    p.post-container__text-block However, the journey doesn't end with surveying alone. The FICS serves as the initial step in enhancing provider communication skills. To realize experience improvements, healthcare providers must implement strategies that make patients and families feel supported, listened to, and understood. Implementing digital health technologies, such as SMS text messages and accessible education, is critical to these efforts.
    p.post-container__text-block Looking ahead, healthcare providers and organizations must prioritize effective communication and engagement with families, as patients and families are receptive to efforts to enhance their healthcare experience and are willing to collaborate to achieve this goal. By prioritizing patient and family community, providers will achieve greater outcomes, lower readmissions, and a stronger bottom line.
    p.post-container__text-block
        strong Reference:
        ul
            li 
                a.pure(href="https://patientengagementhit.com/features/how-can-hospitals-measure-family-experience-with-communication") https://patientengagementhit.com/features/how-can-hospitals-measure-family-experience-with-communication
