extends ./__post-layout.pug

block post-content
    p.post-container__text-block Day-of surgical cancellations are a significant challenge for healthcare providers, impacting both patient care and the financial health of medical facilities. Patient-made cancellations — which make up 30% of all cancellations — are especially problematic, as providers do not have control over them. In the white paper&nbsp;
        a(href='https://www.surgimate.com/wp-content/uploads/2019/08/White-Paper-The-Cost-of-Canceled-Surgeries-2.pdf') "The Cost of Canceled Surgeries & Mitigating Their Impact,"&nbsp;
        | the authors delve into the causes and impact of patient-made cancellations and shed light on prevention strategies.

    p.post-container__text-block 
        strong Understanding Patient-Related Cancellations
        br
        span Patient-made cancellations include no-shows or rendering the patient unfit for surgery on the scheduled date. These commonly occur due to severe anxiety about surgery, a misunderstanding of pre-operative instructions, or miscommunication between the patient and surgical team.

    p.post-container__text-block
        strong The Financial Toll
        br
        span Patient-related cancellations have far-reaching consequences for healthcare providers. The financial ramifications include revenue loss due to vacant operating room time, underutilization of medical staff, and wasted resources. Moreover, these cancellations can disrupt the surgical workflow, causing delays and potentially affecting the care of other patients waiting for surgery.

    p.post-container__text-block
        strong Strategies for Reduction
        br
        span Healthcare providers should implement proactive measures to reduce patient-made cancellations:
        ul
            li
                strong Improve Education to Reduce Anxiety:
                span &nbsp;Providing easy-to-understand education reduces patients’ fear of the unknown regarding their surgery. For example, Diya’s proactive content delivery sends media-rich videos and articles that set more precise expectations about what the surgery entails.
            li
                strong Enhance Pre-Op Communication to Prevent Misunderstandings:
                span &nbsp;Regular notifications ensure patients adhere to pre-op instructions, including nothing-by-mouth guidelines. Diya’s automated notification system, for example, reminds patients during the weeks and days leading up to their procedure.
            li
                strong Implement Patient Readiness Assessments:
                span &nbsp;Preoperative assessments that measure patients’ fitness for surgery minimize avoidable cancellations. Diya’s AI-driven Patient Readiness Scoring (PRS) system, for example, alerts staff to patients with the highest risk of cancellation and recommends actions to mitigate risk.

    p.post-container__text-block The authors of "The Cost of Canceled Surgeries & Mitigating Their Impact" shed light on the complexities of patient-made cancellations in surgical practices. By understanding the causes and consequences of these cancellations, healthcare providers can implement strategies to minimize their occurrence, enhance patient care, and strengthen their bottom line.
    p.post-container__text-block
        strong Reference:
        ul
            li 
                a.pure(href="https://www.surgimate.com/wp-content/uploads/2019/08/White-Paper-The-Cost-of-Canceled-Surgeries-2.pdf") https://www.surgimate.com/wp-content/uploads/2019/08/White-Paper-The-Cost-of-Canceled-Surgeries-2.pdf 
