extends ./__post-layout.pug

block post-content
    p.post-container__text-block Health inequalities have persistently hurt care outcomes and disproportionately affect minority populations and lower socio-economic groups. A key driver of this disproportionate impact is miscommunication due to cultural and language barriers, as patients with limited English proficiency (LEP) often face reduced access to and lower quality of care.
    p.post-container__text-block To provide equally consistent high-quality care to LEP patients, healthcare organizations must translate education, treatment information, discharge summaries, and communication into the patient’s preferred language. However, today’s translation solutions are too costly and time-consuming to implement and scale effectively.
    p.post-container__text-block Diya AI Translation Services leverages artificial intelligence to support translation needs throughout an LEP patient’s care journey. It is fully comprehensive and supports immediate translations in over 120 languages. Additionally, it preserves the layout and formatting of the original content.
    p.post-container__text-block Digital health technologies, like Diya, empower healthcare leaders to serve diverse populations without using expensive resources. With continued investment in communication innovation, healthcare organizations will advance towards a more equitable healthcare delivery model, bridging the gap in disparities driven by language barriers.
