extends ./__post-layout.pug

block post-content
    p.post-container__text-block The COVID-19 pandemic has shed light on the crucial role played by patients’ family members — often referred to as family caregivers — who support ill, disabled, or injured loved ones after a hospital stay. These family caregivers take on responsibilities previously handled by medical professionals, often without formal training or education. However, caregiving is a challenging and demanding journey, impacting caregivers' physical, emotional, social, financial, and overall well-being. In the paper&nbsp;
        a(href='https://journalofhealthdesign.com/JHD/article/view/180') “Identifying family caregivers as preventive medicine: An essential component of comprehensive primary care,”&nbsp;
        | researchers explore how to best support family members for optimal health outcomes.
    p.post-container__text-block 
        strong The Scope of Caregiving
        br
        span Before the pandemic, there were 53 million family caregivers in the United States alone. This number has likely increased significantly. The average caregiver spends 24.4 hours per week on caregiving tasks, often juggling these responsibilities with work commitments.
    p.post-container__text-block 
        strong The Impact on Caregivers' & Patients’ Health
        br
        span Caregiving takes a toll on caregivers' physical and mental health. Caregivers are at risk of developing medical and mental health issues, with 23% reporting that caregiving has worsened their own health. Symptoms of depression, anxiety, and post-traumatic stress disorder are common among caregivers. Moreover, caregivers neglect their own health needs, sacrificing doctor's visits, healthy meals, and exercise. This neglect can ultimately impact caregivers’ ability to continue supporting their loved ones, leading to poorer care recipient health outcomes.
    p.post-container__text-block 
        strong Challenges in Identifying and Connecting with Resources
        br
        span Many family caregivers do not know about available support services, such as local support groups or respite care, to help them manage this physical and mental burden. The lack of support and education exacerbates caregivers’ stress, burnout, and health-related issues.
    p.post-container__text-block 
        strong Strategies to Support Caregivers
        br
        span By engaging family members with education from the onset of caregiving duties, healthcare organizations can improve outcomes for family caregivers and their care recipients. Empowering family members with accessible, comprehensive education about their role will more clearly set expectations, ensure they have the appropriate knowledge to help their loved ones effectively, and guide them toward relevant support services. Healthcare organizations can leverage digital health technologies to effectively engage family members to deliver the right information at the right time.
    p.post-container__text-block Family caregivers are vital in supporting their ill, disabled, or injured loved ones. By providing accessible education to family members, healthcare organizations can prevent caregiver burnout and promote better health outcomes.
    p.post-container__text-block
        strong Reference:
        ul
            li Baumblatt GL, Applebaum AJ. Identifying family caregivers as preventive medicine: An essential component of comprehensive primary care. JHD.2022;7(3):507–511.
                br
                a.pure(href="https://doi.org/10.21853/JHD.2022.180") https://doi.org/10.21853/JHD.2022.180
