.scroll-off {
    overflow: hidden;

}

.marginTopSpace {
    margin-top: 20px;
}


.about-us {


    position: relative;



    .card-press-box {
        flex-basis: 23%;
        height: auto;


        @media screen and (max-width: $break-tablet) {
            margin-bottom: 60px;
            flex-basis: 47%;


        }

        @media screen and (max-width: $break-mobile) {
            margin-bottom: 60px;
            flex-basis: 100%;

        }
    }


    h1 {
        margin: 0;
    }

    h2 {
        margin: 0;
    }

    .no-pointer {
        pointer-events: none;
    }

    .popup-team {
        width: 100%;
        height: 100%;

        &__background {
            backdrop-filter: blur(8px);
            z-index: 100;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            transition: backdrop-filter 0.2s;
        }

        &__box-left {
            @media screen and (max-width: $break-tablet) {
                display: flex;
                width: 100%;
                margin-bottom: 41px;

            }

            @media screen and (max-width: $break-mobile) {
                flex-direction: column;
                align-items: center;
                justify-content: center;


            }

        }

        &__wrapper {
            padding: 72px;
            display: flex;
        }



        &__logo {
            width: 260px;
            height: 260px;
            border-radius: 50%;
            margin-right: 66px;

            @media screen and (max-width: $break-mobile) {
                margin-right: 0;

            }


        }

        &__subtitle {
            padding: 0 78px;
            position: relative;
            margin-bottom: 41px;

            @media screen and (max-width: $break-tablet) {
                width: 100%;
                padding: 0 48px;

            }

            @media screen and (max-width: $break-mobile) {
                padding: 0 48px;

            }

        }

        &__info-box {
            width: 260px;
            margin-right: 66px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (max-width: $break-tablet) {
                margin-right: 0;
                width: 100%;

            }
        }

        &__text-box {
            // padding-top: 41px;

            @media screen and (max-width: $break-tablet) {
                width: 100%;

            }

            @media screen and (max-width: $break-mobile) {
                padding-top: 0;

            }
        }

        &__text {
            font-family: Open Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 20px;

            @media screen and (max-width: $break-tablet) {
                font-size: 18px;
                text-align: center;

            }


        }



        &__subtitle-text {
            font-family: Playball;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 2px;
            text-align: center;
            color: #0C9FDB;
            padding: 0 24px;

            @media screen and (max-width: $break-tablet) {
                padding: 0;

            }

            @media screen and (max-width: $break-mobile) {
                font-size: 28px;
                padding: 0 8px;

            }
        }

        &__arrow {
            position: absolute;
            width: 78px;
            height: 60px;

            @media screen and (max-width: $break-tablet) {
                width: 48px;
                height: 37px;

            }

            &-left {
                background-image: url('../images/about-us/arrow-up.svg');
                top: 0;
                left: 0;

                @media screen and (max-width: $break-tablet) {
                    background-image: url('../images/about-us/arrow-up-small.svg');

                }
            }

            &-right {
                background-image: url('../images/about-us/arrow-down.svg');
                bottom: 0;
                right: 0;

                @media screen and (max-width: $break-tablet) {
                    background-image: url('../images/about-us/arrow-down-small.svg');

                }

            }
        }


        &__link {
            background-image: url('../images/about-us/in.svg');
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            display: inline-block;
        }

        &__name {
            font-family: Open Sans;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 0px;
            text-align: center;
            padding-top: 36px;

        }

        &__work {
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0px;
            text-align: center;
            margin: 6px 0 24px;
            color: #8B979B;



        }




        &__content {
            overflow-y: auto;
            width: 70vw;
            height: 60vh;
            background-color: #ffff;
            position: fixed;
            top: 50%;
            left: 50%;
            border-radius: 10px;
            -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
            z-index: 1000;
            border-radius: 10px;
            box-sizing: content-box;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);

            @media screen and (max-width: $break-tablet) {
                width: 75vw;
                height: 70vh;
                flex-direction: column;

                padding: 40px 40px 48px;

            }

            @media screen and (max-width: $break-mobile) {
                padding: 20px 20px 48px;

            }
        }

        &__close {
            position: absolute;
            top: 13px;
            right: 18px;
            width: 21px;
            height: 21px;
            cursor: pointer;
        }

        &__close:before,
        &__close:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0px;
            width: 22px;
            height: 4px;
            background: #C4C4C4;
            transition: all 0.2s;
        }

        &__close:hover:before,
        &__close:hover:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0px;
            width: 22px;
            height: 4px;
            background: #0c9fdb;
        }

        &__close:before {
            transform: rotate(45deg);
        }

        &__close:after {
            transform: rotate(-45deg);
        }

        .hidden {
            -webkit-transform: scale(0) translate(-50%, -50%);
            transform: translate(-50%, -50%) scale(0);
            transition: all 0.5s;
        }

    }

    .card-employees {
        cursor: pointer;
        flex-shrink: 0;
        min-height: 260px;
        flex-basis: 23%;
        max-width: 300px;
        border-radius: 10px;
        position: relative;
        background-color: #fff;
        margin-top: 50px;
        transition: all 0.2s;
        padding: 0 15px;

        &.position-card {
            position: relative;
            top: -75px;
            border-radius: 10px;
            padding: 0;

            @media screen and (max-width: $break-tablet) {
                top: 0px;

                &.no-pointer {
                    display: none;
                }
            }
        }

        &:hover {
            box-shadow: 4px 4px 16px 0px #0000000D;
            box-shadow: -4px -4px 16px 0px #0000000D;

            .card-employees__arrow {
                display: inline-block;
            }
        }

        @media screen and (max-width: $break-tablet) {
            flex-basis: 47%;
            margin-bottom: 50px;
            box-shadow: 4px 4px 16px 0px #0000000D;
            box-shadow: -4px -4px 16px 0px #0000000D;
            max-width: none;
        }

        @media screen and (max-width: $break-mobile) {
            flex-basis: 100%;

        }

        .special-card {
            width: 100%;
            height: 100%;
            background-color: #F3FAFD;

        }

        &__contact-us {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 100%;

            & p {

                font-family: Open Sans;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px;
                letter-spacing: 0px;
                text-align: center;

                margin-bottom: 24px
            }
        }

        &__logo {
            position: absolute;
            top: 0;
            left: 50%;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
            background-position-y: 30%;
            background-position-x: 90%;


        }




        &__text {
            padding-top: 80px;
            font-family: 'Open Sans';
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: center;

            @media screen and (max-width: $break-tablet) {
                font-size: 18px;



            }

        }



        &__arrow {
            width: 32px;
            height: auto;
            margin-top: 16px;
            display: none;

            @media screen and (max-width: $break-tablet) {
                display: inline-block;
            }

        }

        &__arrow:hover {
            cursor: pointer;
        }

        &__name {
            font-family: Open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: center;
            margin-top: 8px;
            margin-bottom: 6px;


        }

        &__workplace {

            font-family: Open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: center;
            color: #8B979B;



        }

        &__old {
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: center;

        }
    }

    .card-press {
        overflow: hidden;
        box-shadow: 4px 4px 16px 0px #0000000D;
        box-shadow: -4px -4px 16px 0px #0000000D;
        transition: all 0.2s;
        border-radius: 10px;
        background-color: white;

        @media screen and (max-width: $break-tablet) {
            padding-bottom: 20px;
        }



        &:hover {
            .card-employees__arrow {
                display: inline-block;
            }
        }


        &:hover .card-press__content-box {
            z-index: 6;
            transform: translateY(-40px);
            border-top-right-radius: 400px 50px;
            border-top-left-radius: 400px 50px;

        }

        &:hover .card-press__outer {

            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:hover {
            transform: scale(1.05);
        }

        &__content-box {
            background-color: #fff;
            position: relative;
            padding-top: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: all 0.3s;
            overflow-y: auto;


            & p {
                font-family: Open Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0px;
                text-align: left;
                color: #000 !important;
            }

        }

        &__outer {
            position: relative;
            width: 100%;
            height: 250px;
            color: white;
            text-align: center;
            text-indent: .1em;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 5;
            border-bottom-right-radius: 400px 50px;
            border-bottom-left-radius: 400px 50px;
            transition: all 0.2s;
        }



        &__full-height {
            flex-grow: 1;
            min-height: 330px;
        }

        &__info {
            padding: 0 24px;
            margin-bottom: 20px;

            @media screen and (max-width: $break-tablet) {
                width: 100%;
                text-align: center;
                margin-bottom: 30px;


            }
        }

    }


    /////about us IMAGE CONTAINER////

    .about-us-image-container {
        height: calc(100vh - #{$navbar-height});
        width: 100%;
        background-position: bottom;
        background-image: url('../images/about-us/wave.png'), url('../images/about-us/header-image.jpg');
        position: relative;
        background-size: 100% 65%, cover;
        background-repeat: no-repeat;
        background-position-y: 100%, 60%;
        background-position-x: 0, 30%;

        @media screen and (max-width: $break-tablet) {
            height: calc(100vh - 60px);
        }

        .material-btn {
            margin: auto;
            font-size: 1.5rem;
            white-space: nowrap;

            @media screen and (max-width: $break-mobile) {
                top: 40px;
            }
        }


        h1 {
            font-size: 60px;
            font-weight: 900;
            margin-bottom: 25px;

            @media screen and (max-width: $break-tablet) {
                font-size: 36px;
                margin-bottom: 0;
            }

            @media screen and (max-width: $break-mobile) {
                font-size: 30px;
            }
        }


        &__text-box {

            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;



            @media screen and (max-width: $break-mobile) {
                width: 85%;
            }
        }

        &__notice-box {
            position: absolute;
            top: 25px;
            left: 100%;
            width: 516px;
            height: 124px;
            transform: translateX(-100%);

            @media screen and (max-width: $break-tablet) {
                width: 410px;
                height: 105px;

            }

            @media screen and (max-width: $break-mobile) {
                display: none;

            }
        }

        &__notice-box-hidden {
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            height: 100px;
            background-color: #FDC400;


            @media screen and (max-width: $break-mobile) {
                display: block;

            }
        }

        &__container-background {
            width: 516px;
            height: 124px;

            @media screen and (max-width: $break-tablet) {
                width: 410px;
                height: 105px;

            }
        }

        &__wellness-text-box {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            padding: 16px 31px 12px 61px;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: $break-mobile) {
                background-color: #FDC400;
                width: 100%;
                padding: 12px 14px 16px 14px;
            }

        }

        &__text-increase {
            font-family: Open Sans;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 0px;
            text-align: center;

            @media screen and (max-width: $break-tablet) {
                font-size: 24px;
                line-height: 33px;
            }



        }

        &__company-logo {
            width: 158px;
            height: auto;

            @media screen and (max-width: $break-tablet) {
                width: 120px;

            }
        }


        &__img {
            margin-right: 14px;
            width: 140px;
            height: auto;

            @media screen and (max-width: $break-mobile) {
                width: 110px;

            }
        }

        &__text {
            margin-bottom: 16px;
            color: #000;
            font-family: Open Sans;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 54px;
            letter-spacing: 0px;
            text-align: center;


            @media screen and (max-width: $break-tablet) {
                font-size: 36px;
                line-height: 49px;

            }

            @media screen and (max-width: $break-mobile) {
                font-size: 28px;
                line-height: 38px;
                text-align: center;
                margin-bottom: 16px;
            }


        }



        &__subtitle-text {
            color: #000;
            line-height: 67px;
            text-align: center;
            display: flex;
            margin-bottom: 8px;
            flex-wrap: wrap;
            justify-content: center;




            & span {

                font-family: Playfair Display;
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0px;
                margin-bottom: 24px;




                @media screen and (max-width: $break-tablet) {
                    font-size: 46px;
                    line-height: 61px;



                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 38px;
                    line-height: 44px;
                }


            }



        }

        .button-container {
            margin-top: 32px;
        }

        &__title-text {
            img {
                width: 200px;
            }
        }
    }

    ///////////////MISSION SECTION////////////
    .our-mission {
        width: 100%;
        padding: 86px 135px;
        text-align: center;

        &__title {
            font-family: Open Sans;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center;
            margin-bottom: 8px;
        }

        &__subtitle {
            font-family: Open Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 0px;
            text-align: center;

        }

        @media screen and (max-width: $break-tablet) {
            padding: 40px 20px;

        }

        .inner {
            max-width: 1440px;
            margin: auto;
        }


        &__service-items-box {
            display: flex;
            width: 100%;
            justify-content: space-between;

            @media screen and (max-width: $break-mobile) {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & .our-mission__item {
                    margin-right: 0;
                }


                & .our-mission__item:nth-of-type(1) {
                    margin-bottom: 24px;


                }


            }

        }

        &__item {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 15px;

            @media screen and (max-width: $break-tablet) {
                width: 100%;
                max-width: 350px;
                margin-top: 32px;
            }
        }

        &__logo {
            max-width: 220px;
            width: 100%;
            height: auto;
            margin-bottom: 24px;
        }
    }

    ///////HISTORY CONTAINER SECTION////////


    .history-container {
        display: flex;
        width: 100%;
        background: url('../images/about-us/wave-story.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
        margin: auto;

        padding: 188px 64px 209px 80px;

        @media screen and (max-width: $break-tablet) {
            background: #f3fafd;
            padding: 56px 20px 56px;


        }


        .material-btn {
            margin-top: 16px;
        }

        &__title {

            h2 {

                font-family: Open Sans;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 49px;
                letter-spacing: 0px;
                text-align: center;
                margin-bottom: 48px;

            }
        }



        align-items: center;

        &__box-content {
            display: flex;
            align-items: center;

            @media screen and (max-width: $break-tablet) {
                flex-direction: column;
            }

        }

        &__left {
            flex-basis: 50%;
            padding-right: 16px;

            & p {
                font-family: Open Sans;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px;
                letter-spacing: 0px;
                text-align: left;

                @media screen and (max-width: $break-tablet) {
                    text-align: center;
                }

            }


            & p:not(:last-child) {
                margin-bottom: 30px;
            }

        }


        &__right {
            flex-basis: 50%;
            padding-left: 16px;

            @media screen and (max-width: $break-tablet) {
                width: 100%;
                padding-left: 0;
            }

        }

        &__text p {
            margin-top: 16px;
            margin-bottom: 24px;
        }

        &__image-box {
            height: 0;
            width: 100%;
            padding-bottom: percentage(475/654);

            background-image: url('../images/about-us/history.svg');
            background-size: cover;
            background-repeat: no-repeat;

            @media screen and (max-width: $break-tablet) {
                margin-top: 32px;
            }
        }
    }

    /////leadership Section ///////


    .leadership-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 86px 20px 136px 20px;
        max-width: 1440px;
        margin: 0 auto;


        @media screen and (max-width: $break-tablet) {
            padding: 56px 20px 56px;


        }

        &__box-content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: nowrap;
            padding: 0 15px;

            @media screen and (max-width: $break-tablet) {
                flex-wrap: wrap;



            }

            &--marginTop {
                margin-top: 80px;

                @media screen and (max-width: $break-tablet) {
                    margin-top: 0;



                }
            }

        }

        &__title {

            h2 {

                font-family: Open Sans;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 49px;
                letter-spacing: 0px;
                text-align: center;
                margin-bottom: 78px;

            }
        }


    }


    ////Our BLOG SECTION/////

    .our-blog-container {

        display: flex;
        width: 100%;
        background: url('../images/about-us/wave-story.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
        align-items: center;
        margin: auto;

        padding: 188px 80px 208px 80px;

        @media screen and (max-width: $break-tablet) {
            flex-direction: column;
            padding: 56px 20px 56px;
            background: #f3fafd;
        }



        &__cards-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            min-height: 430px;
            margin-bottom: 20px;

            & a {
                color: black !important;
            }
        }


        &__title {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (max-width: $break-tablet) {
                width: 90%;


            }

            & h2 {
                font-family: Open Sans;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 49px;
                letter-spacing: 0px;
                text-align: center;
                margin-bottom: 47px;

            }

            & button {
                margin-top: 48px;

                @media screen and (max-width: $break-tablet) {
                    margin-top: 0;
                }
            }
        }
    }

    //////PARTNERSHIPS SECTION/////
    .partnerships {
        width: 100%;
        padding: 86px 80px 130px;
        text-align: center;

        &__title {
            margin: 0 auto;
            font-family: Open Sans;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center;
            max-width: 624px;

        }

        @media screen and (max-width: $break-tablet) {
            padding: 40px 20px;


        }

        .inner {
            max-width: 1440px;
            margin: auto;
        }


        &__subtitle {
            margin: 16px auto 24px;
            max-width: 624px;
            font-family: Open Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 0px;
            text-align: center;
        }

    }

    .contact-us {
        padding: 86px 189px 124px;
        margin: auto;
        max-width: 1440px;

        @media screen and (max-width: $break-tablet) {
            padding: 40px 20px;
        }

        .contact-us-container {

            h2 {

                font-family: Open Sans;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 49px;
                letter-spacing: 0px;
                text-align: center;

            }

            & .title .text {
                font-family: Open Sans;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px;
                letter-spacing: 0px;
                text-align: center;
            }

            @media screen and (max-width: $break-tablet) {
                padding: 40px 20px;
                background: 'white';
            }

            .title {
                text-align: center;
            }

            .text {
                max-width: 624px;
                margin: 11px auto 48px;
            }
        }


    }


}