.faq-page {
    position: relative;

    .iframe {
        width: 640px;
        height: 320px;

        &.portrait {
            width: 352px;
            height: 625px;
        }

        @media screen and (max-width: 640px) {
            width: 100%;
            height: 220px;
        }
    }


    .flex-end {
        align-self: flex-end !important;
        margin-bottom: 2px;
    }


    .popup-video {
        background-color: rgb(245, 245, 245);
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
        z-index: 10;
        padding-top: 35px;
        border-radius: 10px;
        box-sizing: content-box;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
    }

    .close {
        position: absolute;
        top: 5px;
        right: 8px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .close:before,
    .close:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        width: 22px;
        height: 4px;
        background: #0c9fdb;
        transition: all 0.2s;
    }

    .close:hover:before,
    .close:hover:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        width: 22px;
        height: 4px;
        background: #086083
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }


    h1 {
        margin: 0;
    }

    h2 {
        margin: 0;
        font-family: Open Sans;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 49px;
        letter-spacing: 0;
        text-align: center;

        @media screen and (max-width: $break-tablet) {
            font-size: 32px;
        }


    }

    .no-pointer {
        pointer-events: none;
    }

    .inner {
        max-width: 1440px;
        margin: auto;
    }

    .link-underline {
        text-decoration: underline !important;
    }

    .bold-text {
        font-weight: 700;
    }


    .device-text {
        font-weight: 600;
        text-decoration: underline;
    }

    .margin-top {
        margin-top: 30px;
    }

    .margin-bottom {
        margin-bottom: 25px;
    }


    .contact-us {
        background: url('../images/about-us/contact-wave.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        margin-bottom: -140px;

        @media screen and (max-width: $break-tablet) {
            margin-bottom: 0px;
        }

        .contact-us-container {
            padding: 188px 188px 204px 188px;
            margin: auto;
            max-width: 1440px;

            h2 {

                font-family: Open Sans;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 49px;
                letter-spacing: 0px;
                text-align: center;

            }

            & .title .text {
                font-family: Open Sans;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px;
                letter-spacing: 0px;
                text-align: center;
            }

            @media screen and (max-width: $break-tablet) {
                padding: 40px 20px;
                background: #f3fafd;
            }

            .title {
                text-align: center;
            }

            .text {
                max-width: 624px;
                margin: 11px auto 48px;
            }
        }


    }

    .info-title-item {
        font-size: 23px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 24px;
        padding-left: 16px;

        @media screen and (max-width: $break-tablet) {
            justify-content: space-between;
        }

        & span {
            text-align: left;
        }

        &__img {
            width: 30px;
            height: 30px;
            margin-left: 5px;
            transition: all 0.2s;
            cursor: pointer;
            position: relative;
            top: 7px;
        }
    }

    .rotate {
        transform: rotate(180deg);
    }

    .faq-image-container {
        height: calc(100vh - 40px);
        width: 100%;
        padding-bottom: percentage(736/1440);
        background-position: bottom;
        background-image: url('../images/about-us/wave.png'), url('../images/faq/header-photo.png');
        position: relative;
        background-size: 100% 65%, cover;
        background-repeat: no-repeat;
        background-position-y: 100%, 60%;
        background-position-x: 0, 30%;

        @media screen and (max-width: $break-tablet) {
            height: calc(100vh - 60px);
        }


        h1 {
            font-size: 60px;
            font-weight: 900;
            margin-bottom: 25px;

            @media screen and (max-width: $break-tablet) {
                font-size: 36px;
                margin-bottom: 0;
            }

            @media screen and (max-width: $break-mobile) {
                font-size: 30px;
            }
        }


        &__image {
            width: 300px;
            height: auto;
            margin-bottom: 12px;
        }


        &__text-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;



            @media screen and (max-width: $break-mobile) {
                width: 85%;
            }
        }



        &__title-text {
            color: #000;
            line-height: 67px;
            text-align: center;
            display: flex;
            margin-bottom: 8px;
            flex-wrap: wrap;
            justify-content: center;



            & span {
                font-family: Playfair Display;
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0px;
                margin-bottom: 12px;


                @media screen and (max-width: $break-tablet) {
                    font-size: 46px;
                    line-height: 61px;



                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 38px;
                    line-height: 44px;
                }
            }
        }


        &__subtitle-text {
            color: #000;
            text-align: center;
            display: flex;
            margin-bottom: 8px;
            flex-wrap: wrap;
            justify-content: center;

            & span {

                font-size: 24px;
                font-style: normal;
                letter-spacing: 0px;
                margin-bottom: 24px;

                @media screen and (max-width: $break-tablet) {
                    font-size: 22px;
                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 20px;

                }

            }

        }

    }


    .info-container {
        &__list {
            text-align: left;

            @media screen and (max-width: $break-tablet) {
                padding: 0;
            }

        }

    }


    .explanation-box {
        transition: all 0.8s;
        max-width: 900px;
        padding: 0 20px;
        text-align: left;
        font-size: 18px;

    }


    .explanation-text {
        text-align: justify;
        margin-bottom: 20px;
        line-height: 1.6;
    }

    .list-for-app li {
        text-align: left;
        padding-left: 20px;
    }

    .list-for-app li:not(:last-child) {
        margin-bottom: 10px;
    }

    .list-for-app li:last-child {
        margin-bottom: 15px;
    }




    .getting-started {
        padding: 60px 80px 32px 60px;
        text-align: center;
        margin: 0 auto;

        @media screen and (max-width: $break-tablet) {
            padding: 40px 20px;

        }




        &__title {
            margin: 0 auto 30px;
            padding: 0 30px;
            max-width: 624px;


        }



        &__image-common {
            max-width: 500px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }


        &__image-1 {
            aspect-ratio: 1372 / 952;
            background-image: url('../images/faq/Getting Started_Q1.png');

        }

        &__image-2 {
            aspect-ratio: 970 / 991;
            background-image: url('../images/faq/Getting Started_Q2.jpg');
        }

    }


    .library-container {
        width: 100%;
        background: url('../images/wellness/waves/wave-2.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 110px 60px 135px;
        text-align: center;
        margin: 0 auto;

        @media screen and (max-width: $break-tablet) {
            padding: 40px 20px;
            background: #F3FAFD;
        }

        .inner {
            max-width: 1440px;
            margin: auto;
        }


        &__image-common {
            max-width: 500px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }


        &__image-1 {
            aspect-ratio: 820 / 937;
            max-width: 300px;
            background-image: url('../images/faq/Library_Q1.png');

        }

        &__image-2 {
            aspect-ratio: 1147/1556;
            background-image: url('../images/faq/Library_Q4.png');
        }

        &__image-3 {
            aspect-ratio: 2145 / 2156;
            background-image: url('../images/faq/Library_Q5.png');

        }

    }



    .inbox-container {
        margin: 0 auto;
        width: 100%;
        padding: 60px 80px 32px 60px;
        text-align: center;
        padding: 60px 80px 86px 60px;

        @media screen and (max-width: $break-tablet) {
            padding: 40px 20px;

        }

        .inner {
            max-width: 1440px;
            margin: auto;
        }


        &__image-common {
            max-width: 500px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }


        &__image-1 {
            aspect-ratio: 970 / 1125;
            background-image: url('../images/faq/Inbox_Q1.jpg');

        }



    }

    .granting-container {
        margin: 0 auto;
        width: 100%;
        background: url('../images/wellness/waves/wave-2.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 110px 60px 135px;
        text-align: center;

        @media screen and (max-width: $break-tablet) {
            padding: 40px 20px;
            background: #F3FAFD;
        }

        .inner {
            max-width: 1440px;
            margin: auto;
        }


        &__image-common {
            max-width: 500px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }


        &__image-1 {
            aspect-ratio: 820 / 937;
            max-width: 300px;
            background-image: url('../images/faq/Library_Q1.png');

        }

        &__image-2 {
            aspect-ratio: 1147/1556;
            background-image: url('../images/faq/Library_Q4.png');
        }

        &__image-3 {
            aspect-ratio: 2145 / 2156;
            background-image: url('../images/faq/Library_Q5.png');

        }

    }

    .messages-container {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 60px 80px 86px 60px;

        @media screen and (max-width: $break-tablet) {
            padding: 40px 20px;

        }

        .inner {
            max-width: 1440px;
            margin: auto;
        }


        &__image-common {
            max-width: 500px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }


        &__image-1 {
            aspect-ratio: 1407 / 2788;
            max-width: 300px;
            background-image: url('../images/faq/Messages_Q1.png');
        }
    }
}