.hth-volunteer {
    .btn {
        margin-top: 45px;
    }
}

.hth-share {
    .input-group {
        justify-content: space-between;
    }

    .social-btn {
        display: flex;
        border-radius: 30px;
        background-color: $primary-color;
        color: #fff;
        font-size: 22px;
        padding: 18px 40px;
        border: 1px;
        user-select: none;
        cursor: pointer;
        border: 1px solid transparent;

        &:focus {
            outline: 0;
        }

        &.fb {
            background-color: #3b5998;
        }

        &.twt {
            background-color: #55acee;
        }

        &.lin {
            background-color: #007bb5;
        }

        i {
            margin-right: 20px;
        }
    }
}
