.block-title2 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.index-diya {
    padding: 40px 0;

    @media screen and (max-width: $break-mobile) {
        padding: 0;
    }

    .border-container {
        position: relative;
        display: flex;
        align-items: center;

        @media screen and (max-width: $break-mobile) {
            flex-direction: column;
        }

        &::after {
            content: " ";
            position: absolute;
            height: calc(100% + 80px);
            width: 80%;
            right: 0;
            border: solid 2px $primary-color;

            @media screen and (max-width: $break-mobile) {
                display: none;
            }
        }

        .text {
            flex-basis: $content-text-basis;
            padding: 0 70px;

            @media screen and (max-width: $break-tablet) {
                padding: 0 30px;
            }

            @media screen and (max-width: $break-mobile) {
                padding: 0 20px;
                margin-top: 23px;
                flex-basis: auto;
            }
        }

        .image-container {
            flex-basis: $content-image-basis;
            z-index: 1;

            @media screen and (max-width: $break-tablet) {
                flex-basis: $content-image-basis-tablet;
            }

            @media screen and (max-width: $break-mobile) {
                flex-basis: auto;
            }
        }
    }
}

.index-highlight {
  padding: 0.5em 1em;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  margin: auto;
  max-width: 900px;
  font-style: italic;
  font-family: serif;


  @media screen and (max-width: $break-tablet) {
    font-size: 35px;
  }

  @media screen and (max-width: $break-mobile) {
      font-size: 30px;
  }
}

.title-underlined {
    display: inline-block;
    margin-bottom: 2px;
    border-bottom: 2px solid #971f26;
}

.index-mission {
    display: flex;

    .text-container,
    .quote-container {
        flex-basis: 0;
        flex-grow: 1;
    }

    .text-container {
        padding-right: 35px;

        @media screen and (max-width: $break-tablet) {
            padding-right: 26px;
        }
    }

    .quote-container {
        padding-left: 35px;

        @media screen and (max-width: $break-tablet) {
            padding-left: 26px;
        }
    }

    .header-replacement {
        border: 2px solid #971f26;
        width: 100px;
        margin-bottom: 50px;

        @media screen and (max-width: $break-tablet) {
            margin-bottom: 37px;
        }

        @media screen and (max-width: $break-mobile) {
            margin: 29px 0 25px;
        }
    }

    .quote {
        font-style: italic;
        font-size: 26px;
        line-height: 1.69;
        margin: 0;

        @media screen and (max-width: $break-tablet) {
            font-size: 18px;
            line-height: 1.78;
        }
    }

    @media screen and (max-width: $break-mobile) {
        flex-direction: column;

        .text-container,
        .quote-container {
            padding: 0;
        }

        .image-container {
            order: -1;
            margin-bottom: 20px;
        }
    }
}

.index-projects {
    .link-container {
        text-align: right;
        margin-top: 25px;
    }

    .app-header {
        margin: 0 0 25px 0;
    }

    .text-container {
        margin-top: 71px;

        @media screen and (max-width: $break-tablet) {
            margin-top: 43px;
        }
    }

    @media screen and (max-width: $break-mobile) {
        .block-title {
            padding: 0 20px;
        }

        .text-container {
            margin-top: 0;
        }

        .link-container {
            text-align: center;
        }
    }
}

.index-contacts {
    margin-top: $container-gutter;

    @media screen and (max-width: $break-mobile) {
        margin-top: 40px;
    }
}
