.page-index {
    .who-we-serve {
        margin-top: 40px;

        .slide-title {
            text-align: center;
            font-family: 'Playfair Display';
            font-size: 48px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: 0px;
            text-align: center;
        }

        .stack {
            align-items: center;
        }
    }
}

// v2

.page-index {

    #collaboration {
        .clients-logo {
            display: flex;
            list-style: none;
            justify-content: space-between;
            gap: 20px;
            margin-top: 56px;
            flex-wrap: wrap;

            @include for-tablet {
                justify-content: space-evenly;
                margin-top: 44px;
            }

            @include for-phone {
                margin-top: 40px;
                gap: 45px
            }

            img {
                height: 60px;
            }
        }
    }

    .extra-testimonial {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .stars {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;

            >svg {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.main-page {
    .integration {
        // max-width: 1440px;
        margin: 0 auto;
        width: 100%;

        background-repeat: no-repeat;
        padding: 86px 30px 86px;
        text-align: center;

        @media screen and (max-width: $break-tablet) {
            padding: 40px 20px;
        }



        &__image-general {
            width: auto;
            // height: calc(100vh - 140px);

            @media screen and (max-width: $break-tablet) {
                width: 100%;
                height: auto;
            }
        }

        &__image-box {
            margin-bottom: 86px;
            text-align: center;

            @media screen and (max-width: $break-tablet) {
                margin-bottom: 30px;
                margin-top: 20px;
            }
        }

        &__header {
            max-width: 624px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 4px;
        }

        &__subtitle {
            max-width: 624px;
            padding: 0 40px;
            text-align: center;
            margin: 0 auto;
        }
    }

    .about-us .our-blog-container {
        background: none;
        padding: 86px 80px;
        max-width: $container-max-width;
        margin: 0 auto;

        @include for-tablet {
            padding: 72px 80px;
        }

        @include for-phone {
            padding: 48px 20px;
        }
    }
}


// animations
@mixin inOut($name, $prefix, $total, $enterOn, $leaveOn, $repeat: 1, $delay: 0s) {
    $animationName: $prefix + $name;
    $duration: $total * 1s;

    ##{$name} {
        opacity: 0;
    }

    @at-root #{selector.append(&, '.visible-in-viewport')} ##{$name} {
        animation: #{$animationName} $duration linear $delay $repeat;
    }

    $sec: math.div(1, $total) * 100%;
    $transitionTime: $sec;
    $startIn: $sec * $enterOn - $transitionTime;
    $endIn: $sec * $enterOn;
    $startOut: $sec * $leaveOn - $transitionTime;
    $endOut: $sec * $leaveOn;

    @keyframes #{$animationName} {

        0%,
        #{$startIn} {
            opacity: 0;
        }

        #{$endIn},
        #{$startOut} {
            opacity: 1;
        }

        #{$endOut},
        100% {
            opacity: 0;
        }
    }
}

@mixin in($name, $prefix, $total, $enterOn) {
    $animationName: $prefix + $name;

    ##{$name} {
        opacity: 0;
    }

    @at-root #{selector.append(&, '.visible-in-viewport')} ##{$name} {
        animation: #{$animationName} $total * 1s forwards;
    }

    $sec: math.div(1, $total) * 100%;
    $transitionTime: $sec;
    $startIn: $sec * $enterOn - $transitionTime;
    $endIn: $sec * $enterOn;

    @keyframes #{$animationName} {

        0%,
        #{$startIn} {
            opacity: 0;
        }

        #{$endIn},
        100% {
            opacity: 1;
        }
    }
}

.animate-session {
    $duration: 14;

    svg {
        width: 100%;
        height: auto;
    }

    @mixin elementInOut($name, $in, $out) {
        @include inOut($name, 'session', $duration, $in, $out, 1)
    }

    @mixin elementIn($name, $in) {
        @include in($name, 'session', $duration, $in)
    }

    @include elementInOut(docq, 1, 7);
    @include elementInOut(arda, 2, 7);
    @include elementInOut(aidp, 3, 7);
    @include elementInOut(arap, 4, 7);
    @include elementInOut(patr, 5, 7);

    @include elementIn(patq, 8);
    @include elementIn(arpa, 9);
    @include elementIn(aipd, 10);
    @include elementIn(arad, 11);
    @include elementIn(docr, 12);
}

.animate-clinicians {
    $main-duration: 5;
    $rotate-duration: 16;

    svg {
        width: 100%;
        height: auto;
    }

    @mixin elementIn($name, $in) {
        @include in($name, 'clinicians', $main-duration, $in)
    }

    @mixin elementRotate($name, $in, $out) {
        @include inOut($name, 'clinicians', $rotate-duration, $in, $out, infinite, $main-duration * 1s)
    }

    @include elementIn(arca, 1);
    @include elementIn(bc, 2);
    @include elementIn(ai, 3);
    @include elementIn(araf, 4);
    @include elementIn(bf, 5);

    @include elementRotate(all-f, 1, 4);
    @include elementRotate(all-c, 1, 4);

    @include elementRotate(epic-f, 5, 8);
    @include elementRotate(epic-c, 5, 8);

    @include elementRotate(med-f, 9, 12);
    @include elementRotate(med-c, 9, 12);

    @include elementRotate(cer-f, 13, 16);
    @include elementRotate(cer-c, 13, 16);
}

.animate-family {
    svg {
        width: 100%;
        height: auto;
    }

    $duration: 6;

    @mixin animateElement($name, $enterOn) {
        @include in($name, 'family', $duration, $enterOn)
    }

    @include animateElement(msg, 1);
    @include animateElement(arha, 2);
    @include animateElement(ai, 3);
    @include animateElement(arad, 4);
    @include animateElement(aras, 4);
    @include animateElement(boxd, 5);
    @include animateElement(boxs, 5)
}