.news-and-resources {
    .content-container {
        display: flex;
        flex-wrap: nowrap;

        &>.content {
            position: relative;
            margin: auto;
            padding: 12px;
            max-width: $blog-max-width;

            flex-grow: 0;
            max-width: 70%;
            flex-basis: 70%;

            @media screen and (max-width: 800px) {
                flex-grow: initial;
                max-width: initial;
                flex-basis: initial;
            }
        }

        &>.feed {
            position: relative;
            right: 12px;
            flex-grow: 0;
            max-width: 27%;
            flex-basis: 27%;
            background-color: 'red';

            &>iframe {
                max-height: 100vh;
                height: 100%!important;
                overflow-y: auto;
                position: sticky!important;
                top: 70px;
            }

            @media screen and (max-width: 800px) {
                display: none;
            }
        }
    }
}