.our-blog, .news-and-resources {
    .content-container {

        &>.content {
            position: relative;
            margin: auto;
            padding: 12px;
            max-width: 1140px;

            @media screen and (max-width: 800px) {
                flex-grow: initial;
                max-width: initial;
                flex-basis: initial;
            }
        }

        &  h1 {
            font-family: "Montserrat";
    
        }

  

        &>.feed {
            position: relative;
            right: 12px;
            flex-grow: 0;
            max-width: 27%;
            flex-basis: 27%;

            &>iframe {
                max-height: 100vh;
                height: 100%!important;
                overflow-y: auto;
                position: sticky!important;
                top: 70px;
            }

            @media screen and (max-width: 800px) {
                display: none;
            }
        }
    }
}