.container-page-vaccine {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;

    @media screen and (max-width: $break-mobile) {
        padding: 10px;
    }
}

.vaccine-container {
    display: flex;
    width: 100%;

    @media screen and (max-width: $break-mobile) {
        flex-direction: column;
    }

    &__img {
        max-width: 60%;
    }

    &__left-side-box {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @media screen and (max-width: $break-mobile) {
            width: 100%;
        }
    }

    &__right-side-box {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        @media screen and (max-width: $break-tablet) {
            align-self: flex-start;
        }

        @media screen and (max-width: $break-mobile) {
            width: 100%;
            align-items: center;
        }
    }

    &__subtitle {
        line-height: 25px;
        display: flex;
        flex-direction: column;
        font-weight: 700;

        @media screen and (max-width: $break-mobile) {
            padding: 0 10px;
        }

        & span:last-child {
            margin-top: 20px;

            @media screen and (max-width: $break-tablet) {
                margin-top: 10px;
            }
        }
    }

    &__title {
        font-size: 38px;
        font-weight: 700;

        @media screen and (max-width: $break-tablet) {
            font-size: 32px;
            margin-bottom: 10px;
            margin-top: 0;
        }

        @media screen and (max-width: $break-mobile) {
            margin-top: 20px;
        }
    }
}

.vp-hiw-container {
    margin-top: 50px;

    @media screen and (max-width: $break-mobile) {
        margin-top: 10px;
    }
}

.charts-container {
    display: flex;
    width: 100%;
    margin-top: 20px;

    @media screen and (max-width: $break-mobile) {
        flex-direction: column;
    }

    &__left {
        display: flex;
        width: 40%;

        @media screen and (max-width: $break-mobile) {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }
    }

    &__right {
        width: 60%;
        align-self: center;
        display: flex;

        @media screen and (max-width: $break-mobile) {
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        & p {
            padding-left: 30px;

            @media screen and (max-width: $break-mobile) {
                padding-left: 0;
            }
        }
    }

    &__img {
        @media screen and (max-width: $break-mobile) {
            width: 60%;
        }
    }
}

.security-container {
    display: flex;
    margin-bottom: 20px;

    @media screen and (max-width: $break-mobile) {
        flex-direction: column;
    }

    &__left {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $break-mobile) {
            width: 100%;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $break-mobile) {
            width: 100%;
            margin-top: 30px;
        }
    }

    &__img {
        width: 50%;
    }
}
