.indicators-container {
    display: flex;
    z-index: 3;
    justify-content: center;

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    margin-bottom: 5px;

    .indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 3px;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid  $carousel-indicator-inactive-color;
        background-color: $carousel-indicator-inactive-color;

        @media screen and (max-width: $break-tablet) {
            width: 8px;
            height: 8px;
            margin: 2px;
        }

        &.active {
            width: 12px;
            height: 12px;
            margin: 2px;
            border: 1px solid  $carousel-indicator-active-color;
            background-color: $carousel-indicator-active-color;

            @media screen and (max-width: $break-tablet) {
                width: 9px;
                height: 9px;
            }
        }
    }
}

.carousel-item-container {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;

    &.active {
        overflow: initial;
        width: initial;
        height: initial;
        position: static;
        transition: opacity 0.6s ease-in-out;
        opacity: 1;
    }
}
