$content-text-padding: (70px / $font-size) * 1rem;

@mixin text-decoration() {
    .block-title {
        margin: 0 0 40px 0;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: normal;

        @media screen and (max-width: $break-tablet) {
            margin-bottom: 21px;
            font-size: 22px;
        }

        @media screen and (max-width: $break-mobile) {
            margin-bottom: 16px;
            font-size: 22px;
        }
    }

    .text {
        line-height: 1.78;
    }
}

@mixin text-image-layout(
    $text-basis: $content-text-basis,
    $image-basis: $content-image-basis,
    $padding: $content-text-padding) {
    &.image-text {
        .text-container {
            padding-left: $padding;

            @media screen and (max-width: $break-tablet) {
                padding-left: 30px;
            }
        }
    }

    &.text-image {
        .text-container {
            padding-right: $padding;

            @media screen and (max-width: $break-tablet) {
                padding-right: 30px;
            }
        }
    }

    &.image-text,
    &.text-image {
        display: flex;

        .text-container {
            flex-basis: $text-basis;

            @media screen and (max-width: $break-tablet) {
                flex-basis: $content-text-basis-tablet;
            }
        }

        .image-container {
            flex-basis: $image-basis;

            @media screen and (max-width: $break-tablet) {
                flex-basis: $content-image-basis-tablet;
            }
        }

        @media screen and (max-width: $break-mobile) {
            flex-direction: column;

            .image-container {
                order: 1;
                flex-basis: auto;
            }

            .text-container {
                order: 2;
                padding: 0 20px;
                margin-top: 25px;
                flex-basis: auto;
            }
        }
    }
}

.content-block {
    margin: $container-gutter auto 0;
    padding: 0 $container-gutter;
    max-width: $container-max-width;

    @media screen and (max-width: $break-tablet) {
        padding: 0 $container-gutter-tablet;
        margin-top: 40px;
    }

    @media screen and (max-width: $break-mobile) {
        margin-top: 36px;
        padding: 0;
    }

    @include text-image-layout();
    @include text-decoration();
}

.content-block-bg {
    margin-top: $container-gutter;
    background-color: #fff9e0;
    padding: $container-gutter 0;

    @media screen and (max-width: $break-tablet) {
        margin-top: 40px;
        padding: $container-gutter-tablet;
    }

    @media screen and (max-width: $break-mobile) {
        margin-top: 36px;
        padding: 40px 20px;
    }

    .content-inner {
        max-width: $container-max-width;
        padding: 0 $container-gutter;
        margin: auto;

        @include text-image-layout();
        @include text-decoration();

        @media screen and (max-width: $break-tablet) {
            padding: 0;
        }

        @media screen and (max-width: $break-mobile) {
            padding: 0;

            &.image-text,
            &.text-image {
                .text-container {
                    padding: 0;
                }
            }
        }
    }
}
