$content-text-padding: (70px / $font-size) * 1rem;
$content-image-basis: (445px / ($container-max-width - 200px -20px)) * 100%;
$content-text-basis: 100% - $content-image-basis;

@mixin text-decoration() {
    .block-title {
        margin: 0 0 40px 0;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: normal;
    }

    .text {
        line-height: 1.78;
    }
}

@mixin text-image-layout() {
    &.image-text,
    &.text-image {
        display: flex;

        .text-container {
            flex-basis: $content-text-basis;
        }

        .image-container {
            flex-basis: $content-image-basis;
        }
    }

    &.image-text {
        .text-container {
            padding-left: $content-text-padding;
        }
    }

    &.text-image {
        .text-container {
            padding-right: $content-text-padding;
        }
    }
}

.content-block {
    margin: $container-gutter auto 0;
    padding: 0 $container-gutter;
    max-width: $container-max-width;

    @include text-image-layout();
    @include text-decoration();
}

.content-block-bg {
    margin-top: $container-gutter;
    background-color: #fff9e0;
    padding: $container-gutter 0;

    .content-inner {
        max-width: $container-max-width;
        padding: 0 $container-gutter;
        margin: auto;

        @include text-image-layout();
        @include text-decoration();
    }
}

.questions {
    text-align: center;
    margin-bottom: $container-gutter;

    .text {
        margin: auto;
        max-width: 750px;
    }
}

