.contact-us-background-content {
    background: linear-gradient(to bottom, #f0fafd, #cfeef8);  
}

.contact-us-container {
    overflow: hidden;

    .content {
        .text {
            font-size: 26px;
            margin-bottom: 24px;
            font-weight: 400;
            line-height: 30px;
            margin-block-start: 0;

            @media screen and (max-width: $break-tablet) {
                font-size: 22px;
            }
        }

        .title {
            font-size: 32px;
            font-weight: 600;

            @media screen and (max-width: $break-tablet) {
                font-size: 26x;
            }
        }

        .image-container {
            order: -1;
            position: relative;
            .image {
                width: 100%;
                margin-bottom: 24px;

                 @media screen and (min-width: $break-tablet) {
                    position: absolute;
                    margin-bottom: 0px;
                }   
            }
        }

        .contact-us-form {
            .columns-container {
                display: flex;
                flex-wrap: wrap;

                .column {
                    max-width: 50%;
                    flex-basis: 50%;

                    &.left {
                        padding-right: 12px;
                    }
                    &.right {
                        padding-right: 12px;
                    }

                    @media screen and (max-width: $break-tablet) {
                        max-width: 100%;
                        flex-basis: 100%;
                    }   
                }
            }
            

            .form-control {
                margin-top: 21px;

                &:first-child {
                    margin-top: 16px;
                }
            
                @media screen and (max-width: $break-tablet) {
                    margin-top: 16px;
                }

                &.comment {
                    min-width: 550px;
                }

                &.comment {
                    min-width: 550px;
                }
            }

            .g-recaptcha {
                margin: 20px 0;
            }
        }
    }
}