.footer {
    position: relative;
    background-color: $text-color;
    color: #fff;

    .input-footer-group {
        display: flex;
        justify-content: flex-start;

        @media screen and (max-width: $break-mobile) {
            justify-content: center;
            margin-top: 25px;
        }

        &__img {
            width: 45px;
            height: auto;
            filter: brightness(0) invert(1);

            @media screen and (max-width: $break-tablet) {
                width: 40px;
            }
        }
    }

    .mobileAlign {
        @media screen and (max-width: $break-tablet) {
            font-size: 16px;
        }
    }

    .specialList {
        padding-left: 15px;
        margin-top: 15px;

        @media screen and (min-width: $break-mobile + 1px) and (max-width: $break-tablet) {
            & li a {
                font-size: 14px;
            }
        }
    }



    .marginTop {
        margin-top: 25px;

        @media screen and (max-width: $break-mobile) {
            font-size: 16px;
        }
    }

    .container {
        max-width: $container-max-width;
        margin: auto;
        padding: 60px 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;

        > div {
            padding-left: 20px;
        }

        @include for-tablet {
            > div {
                padding-left: 0;
            }
        }

        @media screen and (min-width: $break-mobile + 1px) and (max-width: 1136px) {
            padding: 45px 30px 100px;
            position: relative;

            .copyright-container {
                position: absolute;
                bottom: 45px;
                left: 0;
                width: 100%;
                text-align: center;
                padding: 0 30px;

                .copyright {
                    display: inline;
                }
            }

            .link-container {
                display: flex;
                flex-direction: column;

                >a+a {
                    margin-top: 14px;
                    padding: 0;
                }
            }
        }

        @media screen and (max-width: $break-mobile) {
            flex-direction: column;
            padding: 40px 20px;
            align-items: center;
            text-align: center;
            row-gap: 0;

            >div+div {
                margin-top: 40px;
            }
        }
    }

    .section-title {
        margin: 0 0 25px 0;
        font-weight: normal;
        text-transform: uppercase;

        @media screen and (max-width: $break-mobile) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    .links {
        @extend .list-unstyled;

        >li+li {
            margin-top: 15px;
        }
    }

    a {
        flex-shrink: 0;
        color: #fff;
        font-size: 16px;

        &.address {
            line-height: 1.63;
        }

        @media screen and (max-width: $break-mobile) {
            font-size: 14px;
        }

        +a {
            padding-left: 30px;
        }
    }

    .section-copyright {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 153px;
        margin: 0 auto;


        @media screen and (max-width: 1136px) {
            height: 120px;
            align-items: center;
        }


        .link-container {
            @media screen and (max-width: $break-tablet) {
                align-items: center;
            }
        }

        @media screen and (max-width: $break-mobile) {
            flex-direction: column-reverse;
            height: auto;

            .link-container {
                display: flex;
                flex-direction: column;

                >a+a {
                    margin-top: 14px;
                    padding: 0;
                }
            }

            .copyright-container {
                margin: 35px 0 0;
            }
        }
    }

    .copyright {

        color: #bababa;
        font-size: 14px;

        @media screen and (max-width: $break-mobile) {
            font-size: 12px;
            margin: 0;
            line-height: 2;
        }
    }
}