fieldset {
    padding: 0;
    border: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.form-control {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;

    .input-container {
        width: 100%;
        position: relative;
        display: inline-flex;
        align-items: center;

        background-color: #fff;
        border-radius: 4px;

        cursor: text;

        &:hover > .input {
            border: 1px solid $hover-input-border-color;
        }

        .input {
            padding: 18.5px 14px;
            width: 100%;
            outline: 0;
            

            border: 1px solid $disabled-input-color;
            border-radius: 4px;

            background-color: #fff;

            &:focus {
                border: 2px solid $primary-color;
                padding-top: 17.5px;
                padding-bottom: 17.5px;
            }

            &.non-resizable {
                resize: none;
            }

            &:focus + .form-label {
                transform: translate(4px, -8px) scale(0.75);
                color: $primary-color;
            }

            &:not(:placeholder-shown) + .form-label {
                transform: translate(4px, -8px) scale(0.75);
                color: $disabled-input-color;
            }
        }

        .form-label {
            pointer-events: none;
            position: absolute;
            display: block;
            top: 0;
            left: 0;

            font-size: 18px;
            color: $disabled-input-color;
            background-color: #fff;

            z-index: 1;
            transform: translate(12px, 18px) scale(1);
            transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        }
    }
}

.input-group {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $break-tablet) {
        margin-top: 30px;
    }

    .form-control + .form-control {
        margin-left: 40px;

        @media screen and (max-width: $break-tablet) {
            margin-left: 30px;
        }
    }
}

