.head-image-container {
    height: 0;
    padding-top: 550px / 1366px * 100%;
    background-position: center;
    background-size: cover;

    .content-container {
        max-width: $container-max-width;
        margin: auto;
        position: relative;
    }

    @media screen and (max-width: $break-mobile) {
        padding-top: 330px / 320px * 100%;
        margin-bottom: 50px;
    }

    &.head-bg-index {
        background-image: url('../images/index/index-page-bg.jpg');
    }

    &.head-bg-about-us {
        background-image: url('../images/about-us/about-us-bg.jpg');
    }

    &.head-bg-our-projects {
        background-image: url('../images/our-projects/our-projects-bg.jpg');
    }

    &.head-bg-how-to-help {
        background-image: url('../images/how-to-help/how-to-help-bg.jpg');
    }

    &.big {
        padding-top: 750px / 1366px * 100%;
        .text-container {
            font-size: 48px;
            font-weight: bold;
            @media screen and (max-width: $break-tablet) {
                font-size: 30px;
                padding: 20px 75px;
            }

            @media screen and (max-width: $break-mobile) {
                font-size: 20px;
                padding: 10px 30px;
            }
        }
    }

    .text-container {
        position: absolute;
        width: 100%;
        bottom: 120px;
        text-align: center;
        padding: 30px 180px;
        font-size: 30px;
        font-family: 'Arial Black';
        color: $primary-color;
        background-color: rgba(255, 255, 255, 0.85);

        @media screen and (max-width: $break-tablet) {
            bottom: 30px;
            font-size: 30px;
            padding: 20px 75px;
        }

        @media screen and (max-width: $break-mobile) {
            bottom: 0;
            padding: 20px;
            font-size: 20px;
            text-align: center;
            width: 100%;
        }
    }
}
