.navigation-container {
    padding: 20px $container-gutter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: $container-max-width;

    @media screen and (max-width: $break-tablet) {
        padding: 15px 30px;
    }

    @media screen and (max-width: $break-mobile) {
        flex-direction: column;
        padding: 15px 10px;
        font-size: 12px;
    }

    .logo-container {
        max-width: 180px;

        @media screen and (max-width: $break-tablet) {
            max-width: 140px;
        }

        @media screen and (max-width: $break-mobile) {
            max-width: 101px;
        }
    }

    .navigation {
        @extend .list-unstyled;

        padding-left: 10%;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        text-align: right;
        align-items: center;

        @media screen and (max-width: $break-mobile) {
            min-width: auto;
            margin-top: 20px;
            align-self: stretch;
            padding: 0;
            text-align: center;
            justify-content: space-between;
        }

        li {
            padding-left: 15px;

            @media screen and (max-width: $break-mobile) {
                flex-basis: auto;
                padding-left: 0;
            }
        }

        a {
            line-height: 1;
            color: #333;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;

            &.active::before {
                content: " ";
                border: 1px solid $primary-color;
                position: absolute;
                width: 100%;
                bottom: -10px;
            }
        }

        a:hover {
            font-weight: bold;
        }
    }
}
