.navigation-container {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;

    .navigation {
        @media screen and (max-width: $break-tablet) {
            display: none;
        }
        padding: 0 $container-gutter;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: $container-max-width;

        @media screen and (max-width: $break-tablet) {
            padding: 0 30px;
        }

        .logo-container {
            max-width: 180px;

            @media screen and (max-width: $break-tablet) {
                max-width: 140px;
            }
        }

        .active-link {
            &::before {
                content: ' ';
                border-top: 1px solid $primary-color;
                border-bottom: 1px solid $primary-color;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
            }
        }

        .navigation-list {
            @extend .list-unstyled;

            padding-left: 2%;
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            text-align: right;
            align-items: center;

            & > li {
                position: relative;
                margin-left: 10px;

                &:hover {
                    & > .link-container {
                        color: $primary-color;

                        & > .icon {
                            fill: $primary-color;
                            transform: rotate(-90deg);
                        }
                    }

                    & > .dropdown-menu {
                        display: block;
                        overflow: initial;
                        width: initial;
                        height: initial;
                        opacity: 1;
                        z-index: 2;
                        padding: 20px;
                        padding-top: 10px;
                    }

                    @extend .active-link;
                }

                &.active {
                    & > .link-container {
                        color: $primary-color;

                        & > .icon {
                            fill: $primary-color;
                        }
                    }

                    @extend .active-link;
                }

                & > .link-container {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    transition: color 0.2s ease-in-out;
                    color: #333;
                    min-height: 20px;

                    margin: 25px 0;

                    & > a {
                        line-height: 1;
                        text-decoration: none;
                        text-transform: uppercase;
                        position: relative;
                        color: inherit;
                    }

                    & > .icon {
                        width: 20px;
                        transform: rotate(90deg);
                        transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;
                    }
                }
            }

            .dropdown-menu {
                @extend .list-unstyled;
                opacity: 0;
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                overflow: hidden;
                background: #f3fafd;
                transition: opacity 0.2s ease-in-out;
                text-align: left;
                border-bottom-left-radius: 5%;
                border-bottom-right-radius: 5%;

                & > li {
                    position: relative;
                    padding: 8px 0;

                    &.subheader {
                        border-bottom: 1px solid #d3dae0;
                        font-weight: 600;
                        font-size: 1.2em;

                        &:hover {
                            & > a {
                                transform: none;
                                color: $primary-color;
                            }
                        }
                    }

                    &:hover {
                        & > a {
                            transform: translate(10px);
                            color: $primary-color;
                        }
                    }

                    &.active {
                        & > a {
                            color: $primary-color;
                        }
                    }

                    & > a {
                        display: inline-block;
                        color: rgba(0, 0, 0, 0.7);
                        text-decoration: none;
                        position: relative;
                        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.mobile-navigation {
    display: none;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $break-tablet) {
        display: flex;
    }

    .logo-container {
        width: 160px;
        padding: 10px 20px;
        padding-right: 10px;
    }

    .menu-toggle {
        padding: 20px;
        position: relative;

        input {
            display: block;
            width: 50px;
            height: 45px;
            position: absolute;
            top: 0;
            left: 0;

            cursor: pointer;

            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */

            -webkit-touch-callout: none;

            &:checked {
                ~ span {
                    opacity: 1;
                    transform: rotate(45deg) translate(-2px, -1px);
                    background: #3C4043;
                }

                ~ span:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }

                ~ span:nth-last-child(2) {
                    transform: rotate(-45deg) translate(0, -1px);
                }

                ~ ul {
                    transform: none;
                }
            }
        }

        > span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;

            background: #757575;
            border-radius: 3px;

            z-index: 1;

            transform-origin: 4px 0px;

            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

            &:first-child {
                transform-origin: 0% 0%;
            }

            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 400px;
        max-width: 100%;
        right: 0;
        top: 0;
        margin: 0;
        padding: 20px;
        padding-top: 0;
        margin-top: 67px;

        overflow-y: scroll;

        background: #f3fafd;;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        a {
            color: #232323;
        }

        > li {
            padding: 10px 0;
            font-size: 22px;

            &.active {
                > a {
                    color: $primary-color;
                }
            }
        }
        .dropdown-menu {
            @extend .list-unstyled;
            padding: 10px 10px 10px 40px;

            > li {
                padding: 8px 0;

                &.active {
                    > a {
                        color: $primary-color;
                    }
                }

                &.subheader {
                    border-bottom: 1px solid #d3dae0;
                    font-weight: 600;
                    font-size: 1.1em;

                    &:hover {
                        & > a {
                            transform: none;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}
