.partners-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .partner-icon {
        height: 200px;
        margin: 10px;

        @media screen and (max-width: $break-tablet) {
            height: 160px;
        }

        @media screen and (max-width: $break-tablet) {
            height: 128px;
        }
    }
}