.post-container {
    max-width: 980px;
    margin: 0 auto 20px;

    & h1 {
        font-family: "Montserrat";
    }


    & p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        color: #333333;

    }

    ol, ul {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        color: #333333;
    }

    & a {
        font-weight: 400;
        line-height: 20px;


    }

    &__text-block:not(:last-child) {
        margin-bottom: 20px;

    }

    &__text-block:last-child {
        margin-bottom: 40px;

    }




    &__header {
        padding: 60px 20px 30px;
        text-align: center;

        @media screen and (max-width: $break-mobile) {
            padding: 20px;
        }


        & h2 {
            font-size: 28px;
            font-weight: 700;
            line-height: 35px;
            color: #333333;
            margin: 0;
            text-align: center;
        }



    }

    &__tag {

        display: inline-block;
        margin-bottom: 10px;
        padding: 2px 6px;
        vertical-align: top;
        font-size: 16px;
        line-height: 1.1;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        background-color: $primary-color;
        transition: 0.4s all;
    }



    &__social-networks {
        display: flex;
        justify-content: center;
        column-gap: 15px;

    }


    &__social-image {
        width: 40px;
        height: auto;
        filter: brightness(1) invert(0);
        transition: all 0.4s;

        &:hover {
            filter: brightness(1) invert(0.3);
        }
    }

    &__image-box {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        margin-bottom: 40px;

        & img {
            max-height: 500px;
            width: auto;

        }

    }


    &__text-box {
        margin: 0 auto;
        max-width: 848px;
        padding: 0 50px;

        @media screen and (max-width: $break-mobile) {
            padding: 0 20px;
        }

    }

    &__date-time {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin-top: 12px;
        margin-bottom: 35px;
        color: #333333;
        ;
    }

    &__time::before {
        content: "|";
        display: inline-block;
        width: 1.5em;
        text-align: center;
        color: #000;
    }


    & &__bold-text {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 5px;

    }
}