.team-content-container {
    .team-member {
        @extend .default-content-block;
        padding-top: 0;
        padding-bottom: 0;

        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: $break-tablet) {
            & + .team-member {
                margin-top: 24px;
            }

            &:last-of-type() {
                margin-bottom: 24px;
            }
        }

        & .image-container {
            padding: 24px;

            flex-grow: 0;
            flex-basis: 33%;
            max-width: 33%;

            @media screen and (max-width: $break-tablet) {
                padding: initial;
                flex-basis: 100%;
                max-width: 100%;

                margin-bottom: 24px;
            }

            & .photo {
                width: 100%;
                overflow: hidden;
                position: relative;
                padding-top: 100%;
                border-radius: 50%;
                
                &>img {
                    width: 100%;
                    position: absolute;
                    top: 0;
                }
            }
        }

        &>.info-container {
            padding: 24px;

            flex-grow: 0;
            flex-basis: 66%;
            max-width: 66%;

            @media screen and (max-width: $break-tablet) {
                padding: initial;

                flex-basis: 100%;
                max-width: 100%;
            }

            &>.person {
                margin-block-start: 0;
                margin-top: 38px;
                font-weight: 600;
                font-size: 34px;

                margin-bottom: 24px;

                @media screen and (max-width: $break-tablet) {
                    font-size: 24px;
                    margin-top: 0;
                    margin-bottom: 16px;
                }
            }

            & > .description {
                font-size: 22px;

                @media screen and (max-width: $break-tablet) {
                    font-size: 20px;
                }

                & .more-points {
                    color: $primary-color;
                    cursor: pointer;
                }

                & .full-description {
                    display: inline-block;
                    overflow: hidden;
                    height: auto;
                    max-height: 0;
                    transition: max-height 400ms ease;
                }

                &.full {
                    & .more-points {
                        display: none;
                    }
                    & .full-description {
                        max-height: 300px;
                    }
                }
            }
        }
    }
}