.text-image-carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 630px / 1366px * 100%;

    @media screen and (max-width: $break-mobile) {
        padding-top: 330px / 320px * 100%;
    }

    &.small {
        padding-top: 520px / 1366px * 100%;

        @media screen and (max-width: $break-desktop-medium) {
            padding-top: 690px / 1366px * 100%;
        }

        @media screen and (max-width: $break-mobile) {
            padding-top: 280px / 320px * 100%;
        }

        &.three {
            @media screen and (max-width: $carousel-with-button-break-three) {
                padding-top: 280px / 320px * 100%;
            }

            & > .single-button-container,
            .multiple-buttons-container {
                @media screen and (max-width: $carousel-with-button-break-three) {
                    bottom: inherit;
                }
            }

            & > .content-container {
                @media screen and (max-width: $carousel-with-button-break-three) {
                    bottom: 10%;
                }
            }
        }

        & > .content-container {
            bottom: 30%;

            @media screen and (max-width: $break-tablet) {
                bottom: 28%;
            }

            @media screen and (max-width: $break-mobile) {
                bottom: 0;
            }
        }

        & > .single-button-container,
        .multiple-buttons-container {
            bottom: 12%;

            @media screen and (max-width: $break-tablet) {
                bottom: 5%;
            }

            @media screen and (max-width: $break-mobile) {
                bottom: inherit;
            }
        }

        & > .single-tile-container,
        .multiple-tiles-container {
            bottom: 5%;

            @media screen and (max-width: $break-tablet) {
                bottom: 20%;
            }

            @media screen and (max-width: $break-mobile) {
                bottom: inherit;
            }
        }
    }

    .content-container {
        z-index: 1;
        max-width: $container-max-width;
        width: 100%;
        margin: auto;
        position: absolute;
        bottom: 55%;
        width: 100%;
        padding: 20px 130px;
        padding-top: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.85);

        @media screen and (max-width: $break-tablet) {
            padding: 15px 10%;
            bottom: 48%;
            border-radius: 0;
        }

        @media screen and (max-width: $break-mobile) {
            padding: 15px 10%;
            text-align: center;
            width: 100%;
            bottom: 0;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            min-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $break-tablet) {
                min-height: initial;
            }

            .title {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 35px;
                color: $primary-color;

                @media screen and (max-width: $break-tablet) {
                    font-size: 26px;
                    margin-bottom: 10px;
                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 20px;
                }

                &.alternative {
                    color: $alternative-primary-color;
                }

                & + .text {
                    color: $text-color;
                    font-size: 20px;

                    @media screen and (max-width: $break-tablet) {
                        font-size: 18px;
                    }

                    @media screen and (max-width: $break-mobile) {
                        font-size: 14px;
                    }
                }
            }

            .text {
                font-weight: 600;
                color: $primary-color;
                font-size: 30px;

                @media screen and (max-width: $break-tablet) {
                    font-size: 25px;
                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 18px;
                }

                &.alternative {
                    color: $alternative-primary-color;
                }
            }

            .link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                color: $primary-color;
                font-size: 22px;

                @media screen and (max-width: $break-tablet) {
                    font-size: 20px;
                    margin-top: 10px;
                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 18px;
                }

                &.alternative {
                    color: $alternative-primary-color;
                }

                & > svg {
                    margin-left: 4px;
                    color: $primary-color;

                    &.alternative {
                        color: $alternative-primary-color;
                    }
                }
            }
        }
    }

    .carousel-image-background {
        position: absolute;
        top: 0;
        width: 100%;
        background-position: center;
        background-size: cover;
        height: 100%;
        opacity: 0;
        transition: opacity 0.6s ease-in-out;

        &.active {
            opacity: 1;
        }

        &.head-bg-index {
            background-image: url('../images/index/index-page-bg.jpg');
            background-position-y: 33%;
        }

        &.head-bg-bills-statement-stethoscope {
            background-image: url('../images/doctors-benefits/bills-statement-stethoscope.jpg');
        }

        &.head-bg-apple-watch {
            background-image: url('../images/doctors-benefits/apple-watch.png');
            background-position-y: bottom;
        }

        &.head-bg-medical-mac {
            background-image: url('../images/doctors-benefits/medical-mac.jpg');
        }

        &.head-bg-easy-to-use {
            background-image: url('../images/doctors-benefits/easy-to-use.jpg');
            background-position-y: top;
        }

        &.head-bg-broccoli-stethoscope {
            background-image: url('../images/doctors-benefits/broccoli-stethoscope.jpg');
        }

        &.head-bg-instant-communication {
            background-image: url('../images/doctors-benefits/instant-communication.jpg');
            background-position-y: 13%;
        }

        &.head-bg-emergency-access {
            background-image: url('../images/patients-and-families/emergency-access.jpg');
            background-position-y: 40%;
        }

        &.head-bg-covid-19-check {
            background-image: url('../images/patients-and-families/covid-19-check.jpg');
        }

        &.head-bg-emergency-card {
            background-image: url('../images/patients-and-families/emergency-card.jpg');

            @media screen and (min-width: $break-tablet) {
                background-position-y: 23%;
            }

            @media screen and (max-width: $break-tablet) {
                background-position-y: 40%;
            }

            @media screen and (max-width: $break-mobile) {
                background-image: url('../images/patients-and-families/emergency-card-mobile.jpg');
            }
        }

        &.head-bg-expert-at-home {
            background-image: url('../images/patients-and-families/expert-at-home.jpg');
        }

        &.head-bg-medication-safety {
            background-image: url('../images/patients-and-families/medication-safety.jpg');
        }

        &.head-bg-24-7-connection {
            background-image: url('../images/patients-and-families/24-7-connection.jpg');
            background-position-y: 30%;
        }

        &.head-bg-employee-engagement {
            background-image: url('../images/employers/employee-engagement.jpg');
            background-position-y: 100%;
        }

        &.head-bg-employee-conversation {
            background-image: url('../images/employers/employee-conversation.jpg');
        }

        &.head-bg-happy-employees {
            background-image: url('../images/employers/happy-employees.jpg');
            background-position-y: 40%;
        }

        &.head-bg-happy-hr {
            background-image: url('../images/employers/happy-hr.jpg');
            background-position-y: 75%;
        }

        &.head-bg-happy-logo {
            background-image: url('../images/employers/happy-employees-banner.jpg');
            background-position-y: 75%;
        }
    }

    .carousel-control {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10%;
        opacity: 0.5;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: repeat-x;
        user-select: none;

        @media screen and (max-width: $break-tablet) {
            border-radius: 0;
        }

        &:hover {
            opacity: 0.9;
        }

        &.left {
            left: 0;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.0001) 100%);
        }

        &.right {
            right: 0;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.3) 100%);
        }

        .icon {
            pointer-events: none;
            position: relative;
            width: 60px;
            height: 60px;
            color: #fff;
        }
    }
}

.single-button-container,
.multiple-buttons-container,
.single-tile-container,
.multiple-tiles-container {
    display: flex;
    position: absolute;
    bottom: 20%;
    width: 100%;
    z-index: 1000;

    @media screen and (max-width: $break-tablet) {
        bottom: 5%;
    }

    &.three {
        & > .button-container {
            @media screen and (max-width: $carousel-with-button-break-three) {
                flex: initial;
                margin-top: 10px;

                & > *:not(.sign-in-button) {
                    flex: 1;
                }
            }
        }
    }

    & > .button-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &.large {
            flex: 1.3;
        }

        @media screen and (max-width: $break-mobile) {
            flex: initial;
            margin-top: 10px;

            & > *:not(.sign-in-button) {
                flex: 1;
            }
        }
    }
}

.single-button-container {
    justify-content: center;

    @media screen and (max-width: $break-mobile) {
        bottom: -75px;
    }
}

.multiple-buttons-container {
    justify-content: space-around;
    flex-wrap: wrap;

    &.three {
        @media screen and (max-width: $carousel-with-button-break-three) {
            flex-direction: column;
            bottom: -130px;
        }
    }

    @media screen and (max-width: $break-mobile) {
        flex-direction: column;
        bottom: -130px;
    }
}

.single-tile-container {
    justify-content: center;

    @media screen and (max-width: $break-mobile) {
        // bottom: -75px;
    }

    & > .info-tile {
        flex-basis: 30%;

        @media screen and (max-width: $break-tablet) {
            flex-basis: 49%;
        }

        @media screen and (max-width: $break-mobile) {
            flex-basis: initial;
            flex: 1;
            margin-top: 10px;
        }
    }
}

.multiple-tiles-container {
    justify-content: space-around;
    flex-wrap: wrap;

    @media screen and (max-width: $break-mobile) {
        bottom: -180px;
    }

    & > .info-tile {
        flex-basis: 40%;

        @media screen and (max-width: $break-tablet) {
            flex-basis: 49%;
        }

        @media screen and (max-width: $break-mobile) {
            flex-basis: 100%;
            margin-top: 10px;
        }
    }
}

.carousel-with-buttons {
    &.three {
        @media screen and (max-width: $carousel-with-button-break-three) {
            padding-bottom: 210px;
        }
    }

    @media screen and (max-width: $break-mobile) {
        padding-bottom: 140px;
    }
}

.carousel-with-button {
    @media screen and (max-width: $break-mobile) {
        padding-bottom: 70px;
    }
}

.carousel-with-tiles {
    @media screen and (max-width: $break-mobile) {
        padding-bottom: 220px;
    }
}

.carousel-with-tile {
    @media screen and (max-width: $break-mobile) {
        padding-bottom: 120px;
    }
}
