.timeline-articles-container {
    display: flex;
    flex-direction: column;
    .article {
        display: flex;

        .part {
            padding: 12px 24px;

            flex-grow: 6;
            flex-basis: 0;

            &.text-container {
                position: relative;
                padding-left: 48px;

                &::before {
                    left: 16px;
                    top: 0;
                    width: 3px;
                    height: 100%;
                    content: "";
                    position: absolute;
                    background-color: $primary-color;
                }

                &:not(:last-child) {
                    &::before {
                        height: calc(100% + 24px);
                    }
                }

                & .text {
                    font-size: 22px;
                    line-height: 1.235;

                    @media screen and (max-width: $break-mobile) {
                        font-size: 18px;
                    }
 
                    &.title {
                        position: relative;
                        width: 100%;
                        font-size: 32px;
    
                        margin-block-start: 0;
                        margin-inline-start: 0;
                        margin-block-end: 0;
    
                        margin-bottom: 24px;
    
                        @media screen and (max-width: $break-tablet) {
                            font-size: 26px;
                            line-height: 1.434;
                        }
        
                        @media screen and (max-width: $break-mobile) {
                            font-size: 22px;
                        }

                        &::before {
                            width: 25px;
                            height: 25px;
                            content: "";
                            position: absolute;
                            border: 2px solid #0c9fdb;
                            border-radius: 100%;
                            background-color: #fff;
                            left: -45px;
                            top: 15%;

                            @media screen and (max-width: $break-mobile) {
                                top: 5%;
                            }
    
                        }
    
                    }
                }
            }

            &.image-container {
                flex-grow: 4;
                & > img {
                    width: 100%;
                    @extend .image-shadow;
                }

                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
        }
    }
}