@mixin timeline-circle {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    position: absolute;
    font-size: 20px;
    border: 2px solid #0c9fdb;
    border-radius: 100%;
    background-color: #fff;
    left: 5px;
}

.timeline-articles-container {
    display: flex;
    flex-direction: column;

    .article {
        display: flex;
        position: relative;

        & > .circle {
            @include timeline-circle;

            z-index: 1;
            top: 22px;

            @media screen and (max-width: $break-tablet) {
                top: 18px;
            }

            @media screen and (max-width: $break-mobile) {
                top: 15px;
            }

            &.big {
                width: 35px;
                height: 35px;
                font-size: 30px;
                top: 18px;
                left: 0;

                @media screen and (max-width: $break-tablet) {
                    top: 13px;
                }

                @media screen and (max-width: $break-mobile) {
                    top: 11px;
                }
            }
        }

        .part {
            padding: 12px 24px;
            flex-grow: 6;
            flex-basis: 0;

            &.text-container {
                position: relative;
                padding-left: 48px;

                & > img {
                    max-height: 400px;
                    object-fit: contain;
                }

                & .title-container {
                    & .circle {
                        @include timeline-circle;

                        left: 5px;
                        top: 22px;

                        @media screen and (max-width: $break-tablet) {
                            top: 18px;
                        }

                        @media screen and (max-width: $break-mobile) {
                            top: 15px;
                        }
                    }

                    & .title {
                        position: relative;
                        width: 100%;
                        font-size: 32px;
                        margin-block-start: 0;
                        margin-inline-start: 0;
                        margin-block-end: 0;
                        margin-bottom: 24px;

                        @media screen and (max-width: $break-tablet) {
                            font-size: 26px;
                        }

                        @media screen and (max-width: $break-mobile) {
                            font-size: 22px;
                        }
                    }
                }

                &:not(:last-child) {
                    &::before {
                        height: calc(100% + 24px);
                    }
                }

                & .text {
                    font-size: 22px;

                    @media screen and (max-width: $break-mobile) {
                        font-size: 18px;
                    }
                }
            }

            &.image-container {
                flex-grow: 4;

                & > img {
                    width: 100%;

                    @extend .shadow;
                }

                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
        }
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
