.article-container {
    &.primary {
        background: linear-gradient(to bottom, #f0fafd, #cfeef8);
    }

    &.alternative {
        background-color: #fff;
    }

    &.red {
        background-color: #fdf4f4;
    }
}

.media-item {
    @media screen and (max-width: $break-tablet) {
        order: -1;
        width: calc(100% + 48px);
        margin: -24px -24px 0 -24px;
    }
}

.two-column-article-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $break-tablet) {
        width: calc(100% + 72px);
        margin: -36px;
    }

    .item {
        padding: 0 24px;

        &.main-info {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0;
            flex-grow: 0;
            max-width: 100%;
            flex-basis: 100%;

            @media screen and (max-width: $break-tablet) {
                flex-grow: initial;
                max-width: initial;
                flex-basis: initial;
            }

            & > .icon-container {
                margin-bottom: 24px;
            }

            .text {
                font-size: 28px;
                text-align: center;

                @media screen and (max-width: $break-tablet) {
                    font-size: 24px;
                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 20px;
                }

                &.title {
                    margin-block-start: 0;
                    margin-block-end: 0;
                    font-weight: 700;
                    font-size: 34px;

                    @media screen and (max-width: $break-tablet) {
                        font-size: 28px;
                    }

                    @media screen and (max-width: $break-mobile) {
                        font-size: 24px;
                    }

                    &.primary {
                        color: $primary-color;
                    }
                }
            }
        }

        &.secondary-info {
            padding: 24px;
            margin: 4px 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 6;
            flex-basis: 0;

            @media screen and (max-width: $break-tablet) {
                flex-grow: initial;
                max-width: initial;
                flex-basis: initial;

                &:not(.image-container):not(.video-container) {
                    padding-top: 0;
                }
            }

            & > .icon-container {
                margin-bottom: 24px;
            }

            &.image-container {
                flex-grow: 4;

                & > img {
                    width: 100%;

                    @extend .shadow;
                }

                @extend .media-item;
            }

            &.video-container {
                @extend .media-item;
            }

            .text {
                font-size: 26px;

                @media screen and (max-width: $break-tablet) {
                    font-size: 22px;
                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 18px;
                }

                &.link {
                    cursor: pointer;
                    color: $primary-color;
                    margin-top: 32px;
                    align-self: baseline;

                    & > svg {
                        margin-left: 4px;
                    }
                }

                &.covid-info {
                    color: $covid-info-text-color;
                }

                &.paragraph:not(:first-child) {
                    margin-top: 14px;
                }

                &.note {
                    font-size: 20px;

                    @media screen and (max-width: $break-tablet) {
                        font-size: 18px;
                    }

                    @media screen and (max-width: $break-mobile) {
                        font-size: 16px;
                    }
                }

                &.big {
                    font-size: 32px;

                    @media screen and (max-width: $break-tablet) {
                        font-size: 26px;
                    }

                    @media screen and (max-width: $break-mobile) {
                        font-size: 22px;
                    }
                }

                &.title {
                    width: 100%;
                    font-size: 32px;
                    margin-inline-start: 0;
                    margin-block-end: 0;
                    margin-bottom: 24px;

                    @media screen and (max-width: $break-tablet) {
                        font-size: 26px;
                    }

                    @media screen and (max-width: $break-mobile) {
                        font-size: 22px;
                    }

                    &.big {
                        font-size: 36px;

                        @media screen and (max-width: $break-tablet) {
                            font-size: 32px;
                        }

                        @media screen and (max-width: $break-mobile) {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
}

.image-container-first img {
    box-shadow: none !important;

    @media screen and (max-width: $break-tablet) {
        width: 40% !important;
    }
}

.image-container-second img {
    box-shadow: none !important;
    max-width: 70%;

    @media screen and (max-width: $break-tablet) {
        width: 20% !important;
        margin-top: 40px;
    }
}
