.page-intro {
    min-height: calc(100vh - #{$navbar-height});

    @include for-tablet {
        min-height: calc(100vh - #{$navbar-height-tablet});
    }

    @include for-phone {
        min-height: calc(100vh - #{$navbar-height-phone});
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .main-banner {
        background-size: cover;
        background-position: center;
        width: 100%;
        flex-grow: 1;
        display: flex;
    }

    .title {
        margin-top: auto;
        width: 100%;
        text-align: center;
        background-image: url("../images/back/white-wave.svg");
        background-size: cover;
        padding: 148px 20px 68px;

        @include for-phone {
            padding-top: 50px;
        }
    }

    .learn-more {
        width: 100%;
        padding: 32px 40px;
        background-color: #F3FAFD;
        text-align: center;

        @include for-tablet {
            padding: 32px 20px;
        }

        .h2 {
            margin-bottom: 16px;
        }
    }
}

.simplified-page-intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;

    .title {
        font-size: 40px;
        font-weight: 700;
        line-height: 54px;

        text-align: left;
        padding-bottom: 18px;

        .text-primary {
            position: relative;

            &.underline:after {
                content: " ";
                height: 18px;
                width: 100%;
                position: absolute;
                background-size: 100% 100%;
                background-image: url("@images/pages/index/header-underline.svg");
                bottom: -18px;
                left: 0;
            }
        }
    }
}