.inline-video-preview {
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        transform: scale(1.05);
    }

    img {
        border-radius: 20px;
        width: 100%;
        position: relative;
    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 25%;

        svg {
            height: 100%;
        }
    }
}