.elementor-widget-container>ul {
	margin: 0 0 10px 25px;
}

.elementor-widget-container>ul>li {
	line-height: 1.4;
	list-style: initial;
}

h2 {
	font-size: 2rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

.self-service-widget {
	margin: 50px;
	background: white;
}

.elementor-container.elementor-column-gap-default {
	justify-content: center;
}

.elementor-element-e2ef08f {
	margin-top: 30px;
}

@media (min-width: 768px) {
	body {
		padding-top: 75px !important;
	}

	.elementor-section.elementor-section-height-full {
		height: auto;
		min-height: calc(100vh - 75px);
	}

	.elementor-element-e2ef08f {
		align-self: start;
		margin-top: 50vh;
		transform: translateY(-50%);
	}
}