.main-section {
padding-top: 66px;
}

.labels {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.mobile-view {
    display: none !important;
}

@media(max-width:786px){
    .wrapper-widget {
        display: none;
    }
    .mobile-view {
        display: flex !important;
    }
   
  }

main>section:last-child {
    margin-bottom: 0 !important;
}