extends ../shared/layout.pug

include ../shared/blog-articles.pug
include ../shared/contact-us.pug
block content
    .our-blog
        .content-container
            article.content
                +blogArticles(blog)
        +contactUs(organizationSizeOptions)
