extends ../shared/layout.pug

include ../shared/blog-articles.pug
include ../shared/contact-us.pug
block content
    script.
        window.addEventListener('load', (event) => {
            diya.prepareTwitterFeed('twitter-widget-0');
        });
    -
        const articles = [
            {
                title: 'DiyaMD: One Platform For Everyone',
                description: 'Maintaining the highest quality of medical care is of utmost importance to healthcare providers and to Diya Health. To this end, we have developed DiyaMD, a novel means of communication and sharing of health records that allows clinicians, patients, caregivers, and billing staff all to connect on a single software platform. Rather than doing tedious paperwork and searching for contact information, clinicians can instead use their valuable time caring for patients.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/33913486512?portalId=7621573&_preview=true&cacheBust=0&preview_key=RVmhqZZW&from_buffer=false',
                image: require("../../images/blog/diya-md.jpg"),
            },
            {
                title: 'Maximize Your Revenue and Grow Your Practice with DiyaMD: the Next-Gen Telehealth Platform!',
                description: 'DiyaMD is a budding telehealth platform that focuses on high efficiency, high throughput, and billable patient care services. Modeled after the customary physician practice workflow, DiyaMD helps physicians optimize their time to improve patient care and increase revenue.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/32121112736?portalId=7621573&_preview=true&cacheBust=0&preview_key=TpBqhNUw&from_buffer=false',
                image: require("../../images/blog/diya-md.jpg"),
            },
            {
                title: 'Get Ahead of the Competition with DiyaMD’s Billable E-Service Capabilities',
                description: 'DiyaMD — the next generation telehealth platform — automatically captures billable telehealth and e-services so you can maximize your revenue. Whenever you conduct a telehealth visit or monitor a patient remotely, DiyaMD automatically captures the billable activity. This streamlining allows you and your staff to spend less time on billing matters and more time on patient care.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/32360312565?portalId=7621573&_preview=true&cacheBust=0&preview_key=ABFaWxnK&from_buffer=false',
                image: require("../../images/blog/e-service.jpg"),
            },
            {
                title: 'Telehealth is Here to Stay, and so is DiyaMD',
                description: 'DiyaMD and its complementary patient-facing software, myDiya, comprise a novel platform that focuses on high efficiency, high throughput, and billable patient-care services. It has unique capabilities for doctors, patients, and caregivers. We have already written to you about some of these, and will write to you about more.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/32717616266?portalId=7621573&_preview=true&cacheBust=0&preview_key=DLrnDHbg&from_buffer=false',
                image: require("../../images/blog/telehealth.jpg"),
            },
            {
                title: 'Avoid Medical Errors and Related Costs with DiyaMD',
                description: 'Although clinicians do their best to provide the highest quality of treatment, medical errors are an inevitable danger. They result in more that 250,000 patient deaths and $20 billion in direct healthcare costs yearly. Errors in prescribing medications account for 100,000 of these deaths.  We at Diya Health know that clinicians dread these errors, so we have developed a technology that alerts them to potential adverse drug reactions, dangerous dosages, and more.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/33135123771?portalId=7621573&_preview=true&cacheBust=0&preview_key=MKsaawff&from_buffer=false',
                image: require("../../images/blog/alerts.jpg"),
            },
            {
                title: 'Maximize Your Revenue with DiyaMD’s Remote Patient Monitoring Capabilities',
                description: 'The current pandemic has decreased revenues for private medical practices, and has made telehealth an almost requisite technology.  Remote patient monitoring, a billable service, has become a valuable means of providing medical care.  DiyaMD\'s capability for billable remote patient monitoring (CPT Codes: 99453, 99454, and 99457) can generate additional revenue of $75 - $150 per patient per month, with minimal staffing effort and costs.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/33270217171?portalId=7621573&_preview=true&cacheBust=0&preview_key=miUEEzWQ&from_buffer=false',
                image: require("../../images/blog/remote-monitoring.jpg")
            },
        ];

    .our-blog
        .content-container
            article.content
                +blogArticles(articles)
            article.feed
                a(class="twitter-timeline", href="https://twitter.com/DiyaHealth?ref_src=twsrc%5Etfw") Tweets by DiyaHealth 
                    script(async=true, src="https://platform.twitter.com/widgets.js", charset="utf-8")
    div.contact-us-background-content(id="contact-us")
        +contactUs(organizationSizeOptions)
    
    include ../shared/map-app.pug
