extends ../shared/layout.pug

include ../shared/blog-articles.pug
include ../shared/contact-us.pug
block content
    script.
        window.addEventListener('load', (event) => {
            diya.prepareTwitterFeed('twitter-widget-0');
        });
    -
        const articles = [
            {
                title: 'Stay Competitive Against Pharmacy-Based Clinics',
                description: 'Pharmacy-based clinics are proliferating, competing directly with private medical practices. They are less expensive for the consumer than typical outpatient services, and they offer convenience — patients can consult a doctor, pick up prescriptions, and do other shopping all during the same visit.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/35728664549?portalId=7621573&_preview=true&cacheBust=0&preview_key=zgaiNYxK&from_buffer=false',
                image: require("../../images/blog/diyamd-logo-computer.jpg"),
            },
            {
                title: 'Reduce Paperwork and Increase Revenue with DiyaMD',
                description: 'Would you like to reduce time spent on tedious paperwork and instead use that time to provide billable patient-care? DiyaMD, a novel application for use by clinicians, can help you do just that.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/35465913058?portalId=7621573&_preview=true&cacheBust=0&preview_key=VLZtZEiZ&from_buffer=false',
                image: require("../../images/blog/monoscope.jpg"),
            },
            {
                title: 'Increase Revenue and Reduce Costs with DiyaMD\'s Remote Patient Monitoring',
                description: 'The advent of telehealth and remote patient monitoring (RPM) is changing the delivery of health care. Before this technological innovation, clinicians needed to use valuable time and equipment to treat patients in person, and did not know whether a patient later complied with instructions. Now, RPM enables clinicians to monitor patients\' health more frequently, increasing chances for better outcomes.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/35206361954?portalId=7621573&_preview=true&cacheBust=0&preview_key=LJCNGEjz&from_buffer=false',
                image: require("../../images/blog/apple-watch.png"),
            },
            {
                title: 'DiyaMD Makes Compliance with Stage 3 Easy',
                description: 'DiyaMD, our novel health-record application for use by clinicians, allows you to easily comply with and meet the objectives of Stage 3 of the Meaningful Use Act',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/34937808713?portalId=7621573&_preview=true&cacheBust=0&preview_key=YNBCGAnA&from_buffer=false',
                image: require("../../images/blog/diyamd-logo-computer.jpg"),
            },
            {
                title: 'Provide Excellent Care with DiyaMD',
                description: 'In recent emails, we have sent you information about our novel software application for clinicians, DiyaMD, and its unique capabilities. Perhaps the most valuable feature for you, the clinician, is that it displays on your smartphone or computer screen the entirety of a patient\'s health information. It is the only software that does so. The information is automatically assembled from the multiple disconnected locations where it is currently stored',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/34522303652?portalId=7621573&_preview=true&cacheBust=0&preview_key=KJXbpcde&from_buffer=false',
                image: require("../../images/blog/import-on-screen.jpg"),
            },
            {
                title: 'Protecting Health Information is Diya Health’s Top Priority',
                description: 'Recent growth in the use of telehealth makes it more difficult to keep patients\' medical information safe. As more private practices and hospitals adopt technologies for telehealth and remote patient monitoring — in part because of the pandemic — the point-of-entry for hackers widens.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/33590635281?portalId=7621573&_preview=true&cacheBust=0&preview_key=HOYNLKMz&from_buffer=false',
                image: require("../../images/blog/protect-information.jpg"),
            },
            {
                title: 'Protect Your Practice with DiyaMD’s COVID-19 Management Capabilities',
                description: 'The COVID-19 pandemic has caused sharp declines in revenue for private medical practices, and has made office visits by patients risky for clinicians and their staff. Diya Health\'s novel technology addresses these difficulties with a threefold approach',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/34240559792?portalId=7621573&_preview=true&cacheBust=0&preview_key=REwzlHJY&from_buffer=false',
                image: require("../../images/blog/covid-tracker-page.jpg"),
            },
            {
                title: 'DiyaMD: One Platform For Everyone',
                description: 'Maintaining the highest quality of medical care is of utmost importance to healthcare providers and to Diya Health. To this end, we have developed DiyaMD, a novel means of communication and sharing of health records that allows clinicians, patients, caregivers, and billing staff all to connect on a single software platform. Rather than doing tedious paperwork and searching for contact information, clinicians can instead use their valuable time caring for patients.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/33913486512?portalId=7621573&_preview=true&cacheBust=0&preview_key=RVmhqZZW&from_buffer=false',
                image: require("../../images/blog/diya-md.jpg"),
            },
            {
                title: 'Maximize Your Revenue and Grow Your Practice with DiyaMD: the Next-Gen Telehealth Platform!',
                description: 'DiyaMD is a budding telehealth platform that focuses on high efficiency, high throughput, and billable patient care services. Modeled after the customary physician practice workflow, DiyaMD helps physicians optimize their time to improve patient care and increase revenue.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/32121112736?portalId=7621573&_preview=true&cacheBust=0&preview_key=TpBqhNUw&from_buffer=false',
                image: require("../../images/blog/diya-md.jpg"),
            },
            {
                title: 'Get Ahead of the Competition with DiyaMD’s Billable E-Service Capabilities',
                description: 'DiyaMD — the next generation telehealth platform — automatically captures billable telehealth and e-services so you can maximize your revenue. Whenever you conduct a telehealth visit or monitor a patient remotely, DiyaMD automatically captures the billable activity. This streamlining allows you and your staff to spend less time on billing matters and more time on patient care.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/32360312565?portalId=7621573&_preview=true&cacheBust=0&preview_key=ABFaWxnK&from_buffer=false',
                image: require("../../images/blog/e-service.jpg"),
            },
            {
                title: 'Telehealth is Here to Stay, and so is DiyaMD',
                description: 'DiyaMD and its complementary patient-facing software, myDiya, comprise a novel platform that focuses on high efficiency, high throughput, and billable patient-care services. It has unique capabilities for doctors, patients, and caregivers. We have already written to you about some of these, and will write to you about more.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/32717616266?portalId=7621573&_preview=true&cacheBust=0&preview_key=DLrnDHbg&from_buffer=false',
                image: require("../../images/blog/telehealth.jpg"),
            },
            {
                title: 'Avoid Medical Errors and Related Costs with DiyaMD',
                description: 'Although clinicians do their best to provide the highest quality of treatment, medical errors are an inevitable danger. They result in more that 250,000 patient deaths and $20 billion in direct healthcare costs yearly. Errors in prescribing medications account for 100,000 of these deaths.  We at Diya Health know that clinicians dread these errors, so we have developed a technology that alerts them to potential adverse drug reactions, dangerous dosages, and more.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/33135123771?portalId=7621573&_preview=true&cacheBust=0&preview_key=MKsaawff&from_buffer=false',
                image: require("../../images/blog/alerts.jpg"),
            },
            {
                title: 'Maximize Your Revenue with DiyaMD’s Remote Patient Monitoring Capabilities',
                description: 'The current pandemic has decreased revenues for private medical practices, and has made telehealth an almost requisite technology.  Remote patient monitoring, a billable service, has become a valuable means of providing medical care.  DiyaMD\'s capability for billable remote patient monitoring (CPT Codes: 99453, 99454, and 99457) can generate additional revenue of $75 - $150 per patient per month, with minimal staffing effort and costs.',
                href: 'https://preview.hs-sites.com/_hcms/preview/content/33270217171?portalId=7621573&_preview=true&cacheBust=0&preview_key=miUEEzWQ&from_buffer=false',
                image: require("../../images/blog/remote-monitoring.jpg")
            },
        ];

    .our-blog
        .content-container
            article.content
                +blogArticles(articles)
            article.feed
                a(class="twitter-timeline", href="https://twitter.com/DiyaHealth?ref_src=twsrc%5Etfw") Tweets by DiyaHealth 
                    script(async=true, src="https://platform.twitter.com/widgets.js", charset="utf-8")
    div.contact-us-background-content(id="contact-us")
        +contactUs(organizationSizeOptions)
    
    include ../shared/map-app.pug
