extends ../shared/layout.pug
include ../shared/contact-us.pug

block content
    include ../shared/contacts.pug
    article.contact-us-background-content
        +contactUs(organizationSizeOptions)

block script
    script(defer,
       src=`https://maps.googleapis.com/maps/api/js?key=${keys.google.map}&callback=diya.map.init`)