extends ../shared/layout.pug
block head
    base(href="../")

    meta(name="twitter:card" value="Diya Health Strengthens Its Team with Appointment of Susan Pasley as Clinical Growth Advisor")
    meta(property="og:title" content="Diya Health Strengthens Its Team with Appointment of Susan Pasley as Clinical Growth Advisor")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health, a digital health technology platform that streamlines family engagement, announced today the appointment of Susan Pasley, MS, BSN, RN, to its Board of Advisors")

block content
    main.post-container
        .post-container__header
            a.post-container__tag(href='https://diyagroup.atlassian.net/jira/software/projects/DIYA/boards/5') HealthCare
   
            h2 Diya Health Strengthens Its Team with Appointment of Susan Pasley as Clinical Growth Advisor
            .post-container__date-time
                span.post-container__date September 26, 2022
            .post-container__social-networks
                a(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdiyahealth.org%2Fblog%2Fdiya-health-strengthens-its-team-with-appointment-of-susan-pasley-as-clinical-growth-advisor' class='post-ref' target="__blank")
                    img.post-container__social-image(src=require("../../images/icons/facebook-icon.svg") alt='check') 
                a(href='http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fdiyahealth.org%2Fblog%2Fdiya-health-strengthens-its-team-with-appointment-of-susan-pasley-as-clinical-growth-advisor' class='post-ref' target="__blank") 
                    img.post-container__social-image(src=require("../../images/icons/linkedin-icon.svg") alt='check')
                a(href='https://twitter.com/intent/tweet?url=https%3A%2F%2Fdiyahealth.org%2Fblog%2Fdiya-health-strengthens-its-team-with-appointment-of-susan-pasley-as-clinical-growth-advisor' class='post-ref' target="__blank")
                    img.post-container__social-image(src=require("../../images/icons/twitter-icon.svg") alt='check')
        .post-container__image-box
             
            img(src=require("../../images/blog/susan.jpg") alt='Processes to get back to work safely') 
        .post-container__text-box
            p.post-container__text-block OAKLAND, CA -- Diya Health, a digital health technology platform that streamlines family engagement, announced today the appointment of Susan Pasley, MS, BSN, RN, to its Board of Advisors. Pasley, who has worked for some of the healthcare industry’s largest technology companies, brings a unique set of clinical, administrative, and sales expertise to Diya Health.
            p.post-container__text-block “Susan has a passion for promoting health outcomes, and she leverages her expertise to apply a holistic approach to serving patients, families, and clinicians. Her deep understanding of  technology and innovation makes her eminently qualified to serve both Diya and her passion,” said Amit Bansal, CEO of Diya Health.
            p.post-container__text-block Pasley is currently the VP of Clinical Solutions at CareRev, a leading healthcare marketplace platform for clinical staffing. Prior to CareRev, Pasley held senior-level positions at Press Ganey, PointClickCare, and Collective Medical. In these roles, Pasley supported sales and product management to drive substantial growth.
            p.post-container__text-block “Information and data are abundant in healthcare and used to drive everything from clinical decisions to quality and operational measures. Despite this plethora of available information, the industry has yet to leverage it effectively to connect the triad of patient, family and caregiver in meaningful ways to promote engagement, streamline communication and drive outcomes. Diya Health has developed an amazing platform that closes this gap and efficiently and effectively connects the triad,” said Pasley. “I am thrilled to be a part of an organization that is creating improved patient and family experiences and caregiver efficiencies while driving health outcomes.”
            .post-container__text-block
                p.post-container__bold-text  About Diya Health
                p Diya Health’s digital health technology platform saves clinicians more than 30 minutes per day by proactively answering patient’s and family members’ most repetitive questions. It seamlessly integrates with any major EMR to minimize workflow disruptions and boost job satisfaction. Learn more at
                    a(href='https://www.diyahealth.org/' class='post-ref' target="__blank") &nbsp; www.diyahealth.org 
                   
            .post-container__text-block
                p.post-container__bold-text  Quote
                p The healthcare industry has yet to connect the triad of patient, family, and caregiver in meaningful ways to promote engagement, streamline communication, and drive outcomes. Diya Health has developed an amazing platform that closes this gap to improve caregiver efficiencies and the patient and family experience.
            .post-container__text-block
                p.post-container__bold-text  Biography
                p Susan Pasley is a registered nurse with an extensive experience in healthcare SaaS organizations. She currently serves as the VP of Clinical Solutions at CareRev, and has held senior-level positions at Press Ganey, PointClickCare, and Collective Medical. As Clinical Growth Advisor, Pasley leverages her deep understanding of clinical workflows, technology, and innovation to drive Diya's growth within health systems.
