extends ../shared/layout.pug
block head
    base(href="../")

    meta(name="twitter:card" value="Diya Health Unlocks Patient Experience Improvements: Family Engagement is the Key")
    meta(property="og:title" content="Diya Health Unlocks Patient Experience Improvements: Family Engagement is the Key")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/blog/diya-health-unlocks-patient-experience-improvements-family-engagement-is-the-key")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Family Connect enables HIPAA-compliant, proactive communication with family members that provides them with a greater understanding of their loved one’s care")

block content
    main.post-container
        .post-container__header
            .post-container__tag Family
   
            h1 Diya Health Unlocks Patient Experience Improvements: Family Engagement is the Key
            .post-container__date-time
                span.post-container__date October 24, 2022
            .post-container__social-networks
                a(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.diyahealth.org%2Fblog%2Fdiya-health-unlocks-patient-experience-improvements-family-engagement-is-the-key' class='post-ref' target="__blank")
                    img.post-container__social-image(src=require("../../images/icons/facebook-icon.svg") alt='check') 
                a(href='http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.diyahealth.org%2Fblog%2Fdiya-health-unlocks-patient-experience-improvements-family-engagement-is-the-key&title=' class='post-ref' target="__blank") 
                    img.post-container__social-image(src=require("../../images/icons/linkedin-icon.svg") alt='check')
                a(href='https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.diyahealth.org%2Fblog%2Fdiya-health-unlocks-patient-experience-improvements-family-engagement-is-the-key' class='post-ref' target="__blank")
                    img.post-container__social-image(src=require("../../images/icons/twitter-icon.svg") alt='check')
        .post-container__image-box
            img(src=require("../../images/blog/diya-health-unlocks-patient-experience-improvements.jpg"))
        .post-container__text-box
            p.post-container__text-block OAKLAND, CA – Diya Health, a Silicon Valley-based digital health startup, has expanded its communication platform, Diya Family Connect, to empower patients’ family members. The platform proactively engages family, leading to lower anxiety levels, better outcomes, and fewer readmissions.
            p.post-container__text-block “Lack of continuous communication leaves family members feeling concerned, confused, and dissatisfied with the hospital's performance, driving down satisfaction ratings,” said Amit Bansal, CEO & Founder of Diya Health. 
            p.post-container__text-block
                a(href="https://youtu.be/uinCGdjyqyM", target="_blank") Diya Family Connect 
                | enables HIPAA-compliant, proactive communication with family members that provides them with a greater understanding of their loved one’s care. The platform seamlessly integrates with a hospital’s electronic health record (EHR) system to deliver automated messages and updates directly to family members’ phones. Additionally, the family receives media-rich educational content about their loved one’s condition, treatment options, labs, medications, clinicians, and hospital guidelines.
            p.post-container__text-block “With Diya, family members have the information that they need at their fingertips. They don’t have to repeatedly call the hospital to get questions answered, and they always know what the next steps are in their loved one’s care,” Bansal said.
            p.post-container__text-block Diya stays with patients and families post-discharge, as well, to simplify management of recovery activities. Patients and families receive reminders for follow-up appointments, medications, and more — so no treatment activity is missed. All information is personalized to and delivered along a patient’s personal recovery timeline.
            p.post-container__text-block “Providing patients and families with a clear understanding of what’s happening along all stages of the continuum of care promotes optimal satisfaction and outcomes,” Bansal said.  
                p.post-container__bold-text  About Diya Health
                p Diya Health is a Silicon Valley-based digital health company that streamlines hospitals’ communication with patients’ family members to improve satisfaction ratings and increase clinical staff efficiency. The HIPAA and GDPR-compliant platform complements EHRs for inpatient, discharge, and post-discharge communication.
