extends ../shared/layout.pug

include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/youtube-video.pug
include ../shared/text-image-carousel.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/sign-in-button.pug
include ../shared/about-app.pug
include ../shared/covid-info.pug
include ../shared/timeline-articles.pug

block content
    - const benefitsCarouselId = 'doctors-benefits'
    -
        const aboutApp = {
            text: 'DiyaMD is a budding telehealth platform that focuses on high efficiency, high throughput, and billable patient care services. Modeled after a physician\'s customary workflow, DiyaMD helps physicians optimize their time to improve patient care and increase revenue. This novel technology allows physicians to effortlessly access their patient’s health information, track their health data, administer billable e-services, and conduct remote patient monitoring. Moreover, DiyaMD provides clinicians with reports and alerts, the capability for mass information dissemination to select or all patients, patient-doctor relationship support, and patient population management tools. With DiyaMD, physicians can improve their quality of care, establish their brand, and thrive in their practice.',
        };
        const timelineData = [
            {
                title: 'How Doctors use DiyaMD',
                text: 'DiyaMD enables doctors to access patients\' health records, track trendlines, perform billable e-services, and communicate easily with other doctors and caregivers.  In addition, DiyaMD provides doctors with reports and alerts, enables dissemination of information to individual or multiple patients, and supports the doctor-patient relationship.',
                src: require("../../images/doctors-benefits/reports.jpg"),
            },
        ];
    script.
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('doctors-benefits', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    
    article.carousel-with-tile.primary-background-content
        +textImageCarousel(doctorsBenefits, benefitsCarouselId, 'alternative small')
            .single-tile-container
                +infoTile('Doctors Sign-In', 'alternative')
                    +signInButton('https://diyamd.org/auth/sign-in', 'diyaMD')
    article.primary-background-content
        +aboutApp(aboutApp, false, { title: 'playfair'})
            include ../../images/icons/diyamd-logo.svg
    article
        .default-content-block
            +timelineArticles(timelineData)
    article
        .default-content-block
            +articleTitle('DiyaMD Capabilities', { title: 'primary', divider: 'primary' }, true, true)
            .capabilities-container
                .capabilities
                    include ../../images/capabilities/diyamd-capabilities.svg
    article
        +covidInfo(covidInfo.doctors)
            img(src=require("../../images/doctors-benefits/covid-19-synopsis.jpg"))
    article.alternative-background-content
        +reviews(reviews.diyaMd, 'alternative')
    article.contact-us-background-content(id="contact-us")
        +contactUs(organizationSizeOptions)
