extends ../shared/layout.pug

include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/youtube-video.pug
include ../shared/text-image-carousel.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/sign-in-button.pug

block content
    - const benefitsCarouselId = 'doctors-benefits'
    - const reviewsCarouselId = 'doctors-reviews'

    script.
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('doctors-benefits', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
            diya.carousel.init('doctors-reviews', {
                switchSlideControlSelector: '.control',
            }, 10000);
        });
    
    article.carousel-with-tiles.primary-background-content
        +textImageCarousel(doctorsBenefits, benefitsCarouselId, 'alternative small')
            .multiple-tiles-container
                +infoTile('Doctors Sign-In', 'alternative')
                    +signInButton('https://diyamd.org/auth/sign-in')
                +infoTile('Any Questions?', 'alternative')
                    a.material-btn(href=`${page.url}#contact-us`)
                        span.label
                            include ../../images/icons/comment-question-outline-icon.svg
                            span Contact Us                    
    article
        +partners('small')
    article.covid-info-container
        include ../shared/covid-info.pug
    article.alternative-background-content
        +reviews(reviews, reviewsCarouselId, 'Reviews', 'alternative')
    article.primary-background-content(id="contact-us")
        +contactUs(organizationSizeOptions)

    include ../shared/map-app.pug
