extends ../shared/layout.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/youtube-video.pug
include ../shared/text-image-carousel.pug
include ../shared/info-tile.pug
include ../shared/security-info.pug
include ../shared/sign-in-button.pug
include ../shared/about-app.pug
include ../shared/covid-info.pug
include ../shared/timeline-articles.pug
include ../shared/boxes-row.pug

block content
    - const benefitsCarouselId = 'employers-benefits'
    -
        const boxesInfo =[
            { val:'Minimize tedious & repetitive work', class:"light"},
            { val:'Engage employees to keep them happy and healthy', class:"darker"},
            { val:'Predict and prevent healthcare costs', class:"dark"}
        ];
        const aboutApp = {
            text: 'DiyaHR is an AI-based, Software-as-a-Service platform that empowers HR with aggregated HRIS and health data. Our platform best serves self-insured corporations with a large number of employees.\nBy enabling HR to predict and prevent high-dollar claims, DiyaHR will save corporations a minimum of 15% in annual healthcare costs.',
        };
        const timelineData = [
            {
                src: require("../../images/employers/howitworks.png"),
            },
            {
                src: require("../../images/employers/benefits.png"),
            },
            {
                src: require("../../images/employers/security.png"),
            },
        ];

    -const missions= ['HIPAA Compliant','No information is shared or sold','Employees control their own health information','Reports are anonymized'];
    article.carousel-with-tile.primary-background-content
        +textImageCarouselStatic('head-bg-happy-logo', benefitsCarouselId, 'alternative small')
            .paragraph-title
                h2.paragraph-title__main
                    p Engage employees.
                    p Reduce healthcare costs
            .single-tile-container
                +infoTile('Employers Sign-In', 'alternative')
                    +signInButton('https://diyahr.org/auth/sign-in', 'diyaHR')
            .box-container
                 +boxesRow(boxesInfo)
    article.anchor(id='how-it-works' class="how-it-works-mt")
        +articleTitleSecond('How it works', { divider: 'primary' }, true)
    article.primary-background-content
        .default-content-block.how-it-works-article
            +imageSection(timelineData[0], 'oneColumn')
    article.anchor(id='prevent-rising-costs', class='puzzle-container')
        +twoColumnArticle({ secondaryRight: 'image-container image-container-first' })
            +setContent('secondaryLeft')
                span.text.title.
                    diyaHR unifies disparate systems
            +setContent('secondaryRight')
                img(src=require("../../images/employers/puzzle.png"))
    article.anchor(id='benefits')
        +articleTitleSecond('Benefits', { divider: 'primary' }, true)
    article.primary-background-content
        .default-content-block.how-it-works-article
            +imageSection(timelineData[1], 'oneColumn')
    article.anchor(id='security')
        +articleTitleSecond('Security', { divider: 'primary' }, true)
    article.primary-background-content
        .default-content-block.how-it-works-article
             +twoColumnArticle({ secondaryLeft: 'image-container image-container-second'})
                +setContent('secondaryLeft')
                    img(src=require("../../images/employers/security.png"))
                +setContent('secondaryRight')
                   +list(missions, { itemText: 'big', icon: 'big' })
    article.contact-us-background-content.anchor(id="contact-us")
        +contactUs(organizationSizeOptions)
