extends ../shared/layout.pug

include ../shared/mixins.pug

block content
    +headImage("head-bg-how-to-help", "How Can I Help", "Every Life Matters. Together We Can Make a Difference")

    article.content-block
        .hth-volunteer
            .text-container
                h2.block-title Volunteer With Us
                p.text.
                    On behalf of 3.4 billion global rural population
                    who have little or no direct access to health care providers,
                    we invite people of all ages, backgrounds and skill sets to
                    share in our mission and become part of DiyaGroup.
                    Contact us to discover available volunteer opportunities.
                
                .a.btn(href="./contact-us") Contact Us
            .image-container
                img(src=require("../../images/how-to-help/volunteer-with-us.jpg"), alt="Volunteer with Us")

    article.content-block.bg-outline
        .hth-share
            .image-container
                img(src=require("../../images/how-to-help/share-with-others.jpg"), alt="Share with others")
            .text-container
                h2.block-title Share with others
                p.text.
                    If you believe in our mission or know someone else who may have the desire,
                    knowledge or expertise, please help by increasing awareness of DiyaGroup.
                    Share our story with your friends. Together we can make the future brighter
                    for those in need and give everyone a fair chance for good health.
                .input-group
                    a.social-btn.fb(href="" target="_blank")
                        i.icon-facebook
                        |Share
                    a.social-btn.twt(href="" target="_blank")
                        i.icon-twitter
                        |Tweet
                    a.social-btn.lin(href="" target="_blank")
                        i.icon-linkedin
                        |Share

