extends ../shared/layout.pug

include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug
include ../shared/partners.pug

block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content
    - const benefitsCarouselId = 'benefits'
    - const doctorsUrl = pages.doctors.url;
    - const patientsAndFamiliesUrl = pages.patientsAndFamilies.url;

    script.
        window.addEventListener('load', (event) => {
            diya.carousel.init('benefits', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    article.carousel-with-buttons.alternative-background-content
        +textImageCarousel(benefits, benefitsCarouselId, 'small')
            .multiple-buttons-container
                .button-container
                    a.material-btn.large(href=doctorsUrl)
                        span.label
                            include ../../images/icons/local-hospital-outline-icon.svg
                            span Doctors
                .button-container
                    a.material-btn.large(href=patientsAndFamiliesUrl)
                        span.label
                            include ../../images/icons/person-outline-icon.svg
                            span Patients & Families
    article
        +partners('small')
    article.covid-info-container
        include ../shared/covid-info.pug
    article.alternative-background-content
        +reviews(reviews.index)
    article.primary-background-content
        +contactUs(organizationSizeOptions)

    include ../shared/map-app.pug