extends ../shared/layout.pug

include ../shared/head-image.pug

block head
    meta(name="twitter:card" value="DiyaHealth Website")
    meta(property="og:title" content="DiyaHealth Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content
    +headImage("head-bg-index", "We all deserve the best health possible", "big")
      
    article.content-block.image-text
        .image-container
            img(src=require("../../images/index/people.jpg"), alt="People in village")
        .text-container
            p.text.
                We envision a future where every individual, in every stratum of society, has the tools, information, and knowledge they need to take an active role in their own ability to seek a healthy, happy, and meaningful life. Health is not simply an afterthought, but rather a precondition for the pursuit of happiness. So many of us still lack what many of us enjoy as common sense access to health care and the safe practice of medicine. At DiyaHealth we want to change this.

    article.content-block 
        h2.index-highlight DiyaHealth is changing the healthcare equation, in a way that is inclusive of the underprivileged.

    article.content-block-bg.bg-stat
        .content-inner.op-time-stats
            .title
                |Average time spent with patients during medical primary care consultants:
            ul.list-unstyled.list-stats
                li
                    .time.color-deep-red 48 s
                    .location in Bangladesh
                li
                    .time.color-red 2 min
                    .location in India
                li
                    .time.color-yellow 9 min
                    .location in the UK
                li
                    .time.color-green 20 min
                    .location in the USA

    article.content-block.text-image
        .text-container
            p.text
                | DiyaHealth is helping to bridge the gap of access to basic health care information for underprivileged population, in order to assist them to make safer health care decisions. The world has made unprecedented process in delivering quality healthcare to a larger proportion of the population than ever before. At the same time, the need is still much greater. Many areas still have far too few doctors, translating to extremely brief consultations and increased risks for these populations.
            br 
            .link-container
                a.btn(href=pages.ourProjects.url) Check out our projects
        .image-container
            img(src=require("../../images/index/diya.jpg"), alt="Diya Lamp")

    section.index-contacts
