extends ../shared/layout.pug

include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug

block head
    meta(name="twitter:card" value="DiyaHealth Website")
    meta(property="og:title" content="DiyaHealth Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content
    - const benefitsCarouselId = 'benefits'
    - const reviewsCarouselId = 'reviews'
    -
        const tiles = {
            doctors: {
                title: 'Doctors',
                link: pages.doctors.url,
                text: 'Expanding your practice online, or keeping track of your patient\'s health remotely?',
            },
            patients: {
                title: 'Patients & Families',
                link: 'https://mydiya.org',
                linkTarget: '_blank',
                text: 'Concerned about COVID-19, maintaining medications or starting a health journal?', 
            }
        }

    script.
        window.addEventListener('load', (event) => {
            diya.carousel.init('benefits', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
            diya.carousel.init('reviews', {
                switchSlideControlSelector: '.control',
            }, 10000);
        });
    article.carousel-with-tiles.alternative-background-content
        +textImageCarousel(benefits, benefitsCarouselId)
            .multiple-tiles-container
                +infoTile(tiles.doctors)
                +infoTile(tiles.patients)
    article
        include ../shared/partners.pug
    article.alternative-background-content
        +reviews(reviews, reviewsCarouselId, 'Reviews')
    article.primary-background-content
        +contactUs(organizationSizeOptions)

    include ../shared/map-app.pug