extends ../shared/layout.pug

include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/about-app.pug
include ../shared/article-title.pug
include ../shared/covid-info.pug
include ../shared/security-info.pug
include ../shared/about-app-index.pug
include ../shared/youtube-video.pug
include ../shared/list.pug

block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content
    - const benefitsCarouselId = 'benefits'
    - const doctorsUrl = pages.doctors.url;
    - const patientsAndFamiliesUrl = pages.patientsAndFamilies.url;
    - const employersUrl = pages.employers.url;
    -
        const aboutDiyaHrApp = {
            title: 'We serve employers',
            link: { href: pages.employers.url, text: 'Learn about DiyaHR' },
            main: 'right',
        };
    -
        const aboutDiyaMdApp = {
            title: 'We serve doctors',
            link: { href: pages.doctors.url, text: 'Learn about DiyaMD' },
            main: 'left',
        };
    -
        const aboutMyDiyaApp = {
            title: 'We serve patients',
            link: { href: pages.patientsAndFamilies.url, text: 'Learn about myDiya' },
            main: 'right',
        };

    script.
        window.addEventListener('load', (event) => {
            diya.carousel.init('benefits', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    article.carousel-with-buttons.alternative-background-content.three
        +textImageCarousel(benefits, benefitsCarouselId, 'small three')
            .multiple-buttons-container.three
                .button-container
                    a.material-btn.large(href=employersUrl)
                        span.label
                            include ../../images/icons/business-center-icon.svg
                            span Employers
                .button-container
                    a.material-btn.large(href=doctorsUrl)
                        span.label
                            include ../../images/icons/local-hospital-icon.svg
                            span Doctors
                .button-container.large
                    a.material-btn.large(href=patientsAndFamiliesUrl)
                        span.label
                            include ../../images/icons/person-icon.svg
                            span Patients & Families
    article
        +partners('small')
    article
        +articleTitle('Our Products', { divider: 'primary' }, true)
    article.primary-background-content
        +setAboutAppContent('info')
            i DiyaHR 
            span.
                is a digital health, Software-as-a-Service platform that empowers HR to predict and contain rising healthcare costs.
                Using data-driven insights,
            i DiyaHR's 
            span.
                robust analytics and management tools allow corporate HR departments to reduce spending and enhance employee well-being.
                As employers increasingly focus on employee experience, 
            i DiyaHR 
            span.
                allows HR departments to foster exceptional change.
        +aboutAppIndex(aboutDiyaHrApp)
            include ../../images/icons/diyahr-logo.svg
    article
        +setAboutAppContent('info')
            i DiyaMD 
            span.
                is a budding health management platform that integrates personal health records with tools for patient engagement.
                Modeled after a physician's customary workflow, 
            i DiyaMD 
            span.
                seamlessly plugs into any exisiting electronic health record (EHR) system.
                In addition to bridging the gap between EHRs and patient-reported information,
                the platform has numerous other unique capabilities, including telehealth, tracking of COVID-19 symptoms, remote patient monitoring,
                medication safety alerts, and automatic capture of billable services.
        +aboutAppIndex(aboutDiyaMdApp)
            include ../../images/icons/diyamd-logo.svg
    article.primary-background-content
        +setAboutAppContent('info')
            span Our personal health records app, 
            i myDiya
            span , allows a person to manage their own electronic “health diary.”
            span.
                It can receive data from any standard healthcare system, is compliant with personal-security standards, and can be used in emergencies as a personal
                “medical alert bracelet.”  It allows for remote referrals, monitoring of symptoms, alerts about medications
                (e.g., dosage duplications or contraindications), among other capabilities. Most importantly, the information is controlled by,
                    owned by, and travels with the patient, regardless of changes in doctor, medical plan, residence, or caregiver.
        +aboutAppIndex(aboutMyDiyaApp)
            include ../../images/icons/mydiya-logo.svg
        
    article
        +covidInfo(covidInfo.index)
            img(src=require("../../images/patients-and-families/covid.jpg"))
    article
        +articleTitle('Protecting Your Information is Our Top Priority', { divider: 'primary' }, true)
        +securityInfo
    article.contact-us-background-content(id="contact-us")
        +contactUs(organizationSizeOptions)
