extends ../shared/layout.pug

include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/about-app.pug
include ../shared/article-title.pug
include ../shared/covid-info.pug
include ../shared/about-app-index.pug
include ../shared/youtube-video.pug

block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content
    - const benefitsCarouselId = 'benefits'
    - const doctorsUrl = pages.doctors.url;
    - const patientsAndFamiliesUrl = pages.patientsAndFamilies.url;
    -
        const aboutDiyaMdApp = {
            title: 'We serve doctors',
            link: { href: pages.doctors.url, text: 'More Info' },
            image: require("../../images/about-us/doctors.jpg"),
        };
    -
        const aboutMyDiyaApp = {
            title: 'We serve patients',
            link: { href: pages.patientsAndFamilies.url, text: 'More Info' },
            image: require("../../images/about-us/patients.jpg"),
        };

    script.
        window.addEventListener('load', (event) => {
            diya.carousel.init('benefits', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    article.carousel-with-buttons.alternative-background-content
        +textImageCarousel(benefits, benefitsCarouselId, 'small')
            .multiple-buttons-container
                .button-container
                    a.material-btn.large(href=doctorsUrl)
                        span.label
                            include ../../images/icons/local-hospital-outline-icon.svg
                            span Doctors
                .button-container
                    a.material-btn.large(href=patientsAndFamiliesUrl)
                        span.label
                            include ../../images/icons/person-outline-icon.svg
                            span Patients & Families
    article
        +partners('small')
    article.primary-background-content
        +twoColumnArticle({ secondaryRight: 'video-container' })
            +setContent('secondaryLeft')
                span.text.big.
                    Learn how to start with Diya Health products as Physician
            +setContent('secondaryRight')
                +youtubeVideo('https://www.youtube.com/embed/FDRHgmXYUNQ')
    article
        +articleTitle('Our Products', { divider: 'primary' }, true)
    article.primary-background-content
        +setAboutAppContent('info')
            span Specifically designed for physicians in private practice, 
            i DiyaMD 
            span enables doctors to communicate with single or multiple patients 
            span through the patients’ 
            i myDiya
            span . 
            i DiyaMD 
            span enhances telehealth.  Doctors use 
            i DiyaMD 
            span.
                to review and respond to patients’ complaints, monitor patients remotely, note symptom-trends,
                reconcile medications with in-house EHRs, send alerts, and generate reports of billable services.
        +aboutAppIndex(aboutDiyaMdApp)
            include ../../images/icons/diyamd-logo.svg
    article
        +setAboutAppContent('info')
            span Our personal health records app, 
            i myDiya
            span , allows a person to manage their own electronic “health diary.”
            span.
                It can receive data from any standard healthcare system, is compliant with personal-security standards, and can be used in emergencies as a personal
                “medical alert bracelet.”  It allows for remote referrals, monitoring of symptoms, alerts about medications
                (e.g., dosage duplications or contraindications), among other capabilities. Most importantly, the information is controlled by,
                    owned by, and travels with the patient, regardless of changes in doctor, medical plan, residence, or caregiver.
        +aboutAppIndex(aboutMyDiyaApp)
            include ../../images/icons/mydiya-logo.svg
        
    article
        +covidInfo(covidInfo.index)
            img(src=require("../../images/patients-and-families/covid.jpg"))
    article.contact-us-background-content(id="contact-us")
        +contactUs(organizationSizeOptions)

    include ../shared/map-app.pug