extends ../shared/layout.pug

include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/about-app.pug
include ../shared/article-title.pug
include ../shared/covid-info.pug        

block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content
    - const benefitsCarouselId = 'benefits'
    - const doctorsUrl = pages.doctors.url;
    - const patientsAndFamiliesUrl = pages.patientsAndFamilies.url;
    -
        const aboutDiyaMdApp = {
            text: 'DiyaMD is a software application with many unique capabilities that improve a medical practice\'s revenue, efficiency, and delivery of health care.  Patients\' records are kept up-to-date and accessed easily.  It was developed by Diya Health, a team of doctors and engineers, and is being used on four continents with most users in North America.',
            link: { href: pages.doctors.url, text: 'More Info' },
        };
    -
        const aboutMyDiyaApp = {
            text: 'myDiya is a personal health diary with the goal of keeping you safe and connected with your family during a health emergency. Your records are kept up-to-date and easily accessible. Developed by Diya Health, a team of doctors and engineers myDiya is being used in four continents with the majority of users in North America.',
            link: { href: pages.patientsAndFamilies.url, text: 'More Info' },
        };

    script.
        window.addEventListener('load', (event) => {
            diya.carousel.init('benefits', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    article.carousel-with-buttons.alternative-background-content
        +textImageCarousel(benefits, benefitsCarouselId, 'small')
            .multiple-buttons-container
                .button-container
                    a.material-btn.large(href=doctorsUrl)
                        span.label
                            include ../../images/icons/local-hospital-outline-icon.svg
                            span Doctors
                .button-container
                    a.material-btn.large(href=patientsAndFamiliesUrl)
                        span.label
                            include ../../images/icons/person-outline-icon.svg
                            span Patients & Families
    article
        +articleTitle('Our Products', { divider: 'primary' }, true)
    article.primary-background-content
        +aboutApp(aboutDiyaMdApp, false)
            include ../../images/icons/diyamd-logo.svg
    article.alternative-background-content
        +aboutApp(aboutMyDiyaApp, true)
            include ../../images/icons/mydiya-logo.svg
        
    article
        +covidInfo(covidInfo.index)
            img(src=require("../../images/patients-and-families/covid.jpg"))
    article.contact-us-background-content(id="contact-us")
        +contactUs(organizationSizeOptions)

    include ../shared/map-app.pug