extends ../shared/layout.pug

block content
    div.content-longread-block
        div.text-container
            h1
                |Privacy Statement

            h2
                |DiyaGroup, Inc. Privacy Statement

            h5
                |Last Updated: January 27, 2020

            p.text
                |DiyaGroup, Inc. and its affiliates ("DiyaGroup," "we," "our," and/or "us") value the privacy of individuals who use our website (the "Site"), mobile application, and related services, including the MyDiya Services, (collectively, our "Services").   

            p.text
                |This privacy statement ("Privacy Statement") explains how we collect, use, and share information from or about individuals who use our Services ("Members"). It describes what information other members or doctors can see when they use our Services. This Privacy Statement also tells you about your rights and choices with respect to Personal Information, and how you can contact us if you have any questions or concerns. By using our Services, you agree to the collection, use, disclosure, and procedures this Privacy Statement describes. In addition to this Privacy Statement, your use of our Services is also subject to our Terms Of Use.

            p.text
                |For the purpose of this Privacy Statement, "Personal Information" means any information that, by itself or in combination with other information, identifies or can reasonably be used to identify an individual, such as their name, email address, telephone number, address, date of birth, or healthcare information. Personal Information does not include information that is anonymized. "Protected Health Information" has the meaning defined in the Health Insurance Portability and Accountability Act ("HIPAA"), and is not Personal Information for the purposes of this Privacy Statement, but is rather subject to our Notice of Privacy Practices described below.

            h3
                |A. Information We Collect

            p.text
                |We may collect a variety of information from or about you or your devices from various sources, as described below.

            p.text
                |You can browse many areas of the Site and/or our applications without providing any Personal Information. However, at certain areas of the Site, we may ask that you provide Personal Information. Where applicable, we indicate whether and why you must provide us with your Personal Information, as well as the consequences of failing to do so. If you do not provide your Personal Information when requested, you may not be able to use our Services if that information is necessary to provide you with our Services or if we are legally required to collect it.

            h4
                |Information You Provide to Us

            p.text
                b
                    |Registration and Profile Information.
                | 
                |We collect the information you provide when you create a DiyaGroup account, including your name, email address, password, and date of birth. We will also receive any optional information you choose to add to your DiyaGroup Profile ("Profile"), such as your health goals, medications, medical conditions, location, and other information. Health conditions and treatment recommendations often depend on your age, gender, and where you live. Having robust Profile information lets DiyaGroup give you a personalized experience, and it helps DiyaGroup doctors give you an appropriate treatment plan.
            p.text
                b
                    |Communications.
                | 
                |If you contact us directly, we may receive additional information about you. For example, when you contact us for customer support, we will receive your name, email address, phone number, the contents of a message or attachments that you may send to us, and other information you choose to provide. If you subscribe to our newsletter, then we will collect certain information from you, such as your email address. When we send you emails, we may track whether you open them to learn how to deliver a better customer experience and improve our Services.

            h4
                |Information We Collect When You Use Our Services

            p.text
                b
                    |Location Information.
                | When you use our Services, if you allow us, we may receive your precise location information. We use your location information to provide suggestions for your contact address information.
            p.text
                b
                    |Device Information.
                | 
                |We receive information about the device and software you use to access our Services, including your web browser type, screen dimensions and operating system version.
            p.text
                b
                    |Usage Information.
                | 
                |To help us understand how you use our Services and to help us improve them, when you use our Services, we automatically receive information about your interactions with our Services, such as the pages or other content you view, any content you post, and the dates and times of your visits.
            p.text
                b
                    |Information from Cookies and Similar Technologies.
                | 
                |A cookie is a small piece of data that a website can send to your computer's internet browser, which is then stored on your computer's operating system. Cookies are how websites recognize users and keep track of their preferences. We and third-party partners collect information using cookies, pixel tags, or similar technologies. Our third-party partners, such as analytics and advertising partners, may use these technologies to collect information about your online activities over time and across different services.
            p.text
                |Please review your web browser's "Help" file to learn the proper way to modify your cookie settings. Please note that if you delete or choose not to accept cookies from the Service, you may not be able to utilize the features of the Service to their fullest potential.

            h4
                |Information We Receive from Third Parties

            p.text
                |Medical Information. If you download medical information from an approved provider using our application, this information may contain lab results, diagnosis, treatment options, and other sensitive  medical information.

            h3
                |B. How We Use the Information We Collect

            p.text
                |DiyaGroup uses the information we collect for the following purposes:
            ul.text
                li
                    |To operate, provide, maintain, improve and enhance our Services;
                li
                    |To personalize your experience on our Services, such as by providing tailored content and recommendations. For example, we use your email address to help you create, log into, and manage your account on our Services. This lets us personalize your experience and give you relevant information. It also powers the features that help you better understand, engage with, and track your medical records and to present you with personalized, relevant information;
                li
                    |To understand and analyze how you use our Services and to develop new products, services, features, and functionality;
                li
                    |To build a profile about you and make automated decisions based on your information to generate better answers to your health questions and effectively triage your symptoms. This information is not used for marketing;
                li
                    |To communicate with you via email, text messages, push notifications and phone calls, in order to provide you with updates and other information relating to our Services, provide information that you request, respond to comments and questions, and otherwise provide customer support;
                li
                    |For our business purposes, such as audits, for quality assurance purposes, to find and prevent fraud, and respond to trust and safety issues that may arise;
                li
                    |For compliance purposes, including enforcing our Terms of Use or other legal rights, or as may be required by applicable laws and regulations or requested by any judicial process or governmental agency;
                li
                    |For other purposes for which we provide specific notice at the time the information is collected; and
            p.text
                |If you are located in the European Economic Area ("EEA"), we only process your Personal Information based on a valid legal ground, including when:
            ul.text
                li
                    b
                        |Consent.
                    | 
                    |You have consented to the use of your Personal Information, for example for marketing purposes or to track your online activities via Cookies and similar technologies.
                li
                    b
                        |Contract.
                    | 
                    |We need your Personal Information to provide you with our Services, for example for account registration and management or to respond to your inquiries.
                li
                    b
                        |Legal Obligation.
                    | 
                    |We have a legal obligation to use your Personal Information, for example to comply with tax and accounting obligations, or abide by local, state and Federal laws.
                li
                    b
                        |Legitimate Interest.
                    | 
                    |We or a third party have a legitimate interest in using your Personal Information. In particular, we have a legitimate interest in using your Personal Information for product development and internal analytics purposes, and otherwise to improve the safety, security, and performance of our Services. We only rely on our or a third party's legitimate interests to process your Personal Information when these interests are not overridden by your rights and interests.

            h3
                |C. How We Share the Personal Information We Collect

            p.text
                |We may share or otherwise disclose Personal Information in the circumstances described below.
            p.text
                b
                    |Affiliates.
                | 
                |We may disclose Personal Information to our affiliates or partners to provide the Services or for other purposes for which the information was collected.
            p.text
                b
                    |Medical Providers and Others.
                | 
                |We may share Personal Information we receive with medical providers and others.  You control who can see your data, and you have the ability to revoke it at any time.
            p.text
                b
                    |Advertising and Analytics Partners.
                | 
                |We may make certain Personal Information available to third parties for advertising and analytics purposes, including: (a) for business or marketing purposes, such as to track sales leads; or (b) to assist such parties in understanding our Members' interests, habits, and usage patterns, and/or functionality available through our Services.
            p.text
                b
                    |As Required by Law and Similar Disclosures.
                | 
                |We may access, preserve, and disclose Personal Information if we believe doing so is required or appropriate, in our sole discretion, to: (a) comply with any applicable law, regulation, legal process or governmental request, such as a court order or subpoena, or otherwise cooperate with law enforcement or governmental agencies; (b) take precautions against liability; (c) protect your, our, or others' rights, property, or safety; (d) investigate and defend ourselves against any third-party claims or allegations; and (e) protect the security or integrity of our Services and any facilities or equipment used to make our Services available. For the avoidance of doubt, the disclosure of Personal Information may occur if you post any objectionable content on or through the Services.
            p.text
                b
                    |Marketing.
                | 
                |We do not rent, sell, or share Personal Information about you with non affiliated companies for their direct marketing purposes, unless we have your permission.

            h4
                |D. Security

            p.text
                |We make commercially reasonable efforts to protect Personal Information by using physical and electronic safeguards designed to protect the integrity and security of the Personal Information we maintain. We also use certain physical, organizational, and technical safeguards designed to comply with the Health Insurance Portability and Accountability Act ("HIPAA") security standards for interactions subject to HIPAA security regulations. DiyaGroup takes commercially reasonable precautions, considering the risks involved in the processing and the nature of the Personal Information, designed to protect Personal Information from loss, misuse and unauthorized access, disclosure, alteration and destruction. However, as no electronic transmission or storage of Personal Information can be entirely secure, we can make no guarantees as to the security or privacy of Personal Information.

            h4
                |E. Information Retention

            p.text
                |We take measures to retain your Personal Information for a period that is no longer than necessary to fulfill the purposes outlined in this Privacy Statement, unless a longer retention period is required or permitted by law. When determining the retention period, we take into account various criteria, such as the type of Services provided to you, the nature and length of our relationship with you, the impact on the Services we provide to you if we delete some Personal Information from or about you, and mandatory retention periods provided by law and the relevant statute of limitations.

            h4
                |F. Your Choices and Rights

            p.text
                b
                    |Sharing Preferences.
                | 
                |We provide you with settings to allow you to set your sharing preferences for content you post to our Services.
            ul.text
                li
                    b
                        |Optional Profile Information.
                    | 
                    |You can add, edit, or delete optional Personal Information appearing in your Profile at any time in your account settings under edit profile link.
                li
                    b
                        |Required Account Information.
                    | 
                    |Certain Personal Information is required for account functionality and can be edited but not deleted. For example, you can edit, but not remove, the email address and password required for login.
                li
                    b
                        |Health Records.
                    | 
                    |You can amend your health information and can add information to your Consult Summaries to make your information more accurate or complete. Accordingly, if you would like to request access to, or to limit the use or disclosure of Personal Information, please contact the doctor to which you provided the Personal Information in connection with our Services. If you contact us with the name of the doctor to which you provided Personal Information, we will refer your request to that doctor and support them in responding to your request.
                li
                    b
                        |Public Content.
                    | 
                    |You can request the removal of Public Content by contacting our support team at 
                    a(href="mailto:support@DiyaGroup.com")
                        |support@DiyaGroup.com
                    |.

            h4
                |G. Marketing Communications.

            p.text
                |You can unsubscribe from our marketing communications, such as announcements of new features or special offers, via the link provided in the promotional emails. DiyaGroup will never share your email address or other contact information to third parties for their own marketing purposes without your explicit permission. Even if you opt out of receiving promotional messages from us, you will continue to receive administrative messages from us.

            h4
                |H. Notifications.

            p.text
                |We will ask you if you want to receive notifications when you open an account with DiyaGroup. If you agree, DiyaGroup may send you email, SMS, or mobile push notices, providing you with account-related reminders or updates, or letting you know that you have a message on our Services. You may opt out at any time by adjusting your notification settings in the settings page.

            h4
                |I. Deactivating Your Account.

            p.text
                |To deactivate your account, sign in, go to the feedback page, and choose the deactivate your account option. You will receive an email confirming that your account has been deactivated. This process may take up to 5 working days. Your public questions that have received answers will continue to appear anonymously on our Services even if you deactivate your account.

            h4
                |J. Children

            p.text
                |Our Services are not intended for or directed to children under 16 years of age, and we do not knowingly collect Personal Information from children under the age of 13. If you learn that your child has provided us with Personal Information without your consent, then you may alert us at <a href="mailto:data.privacy@DiyaGroup.com">data.privacy@DiyaGroup.com</a>. If we learn that we have collected any Personal Information from children under 13, then we will promptly take steps to delete such information and terminate the child's account.

            h4
                |K. Google

            p.text
                |Our Services use several services provided by Google, Inc. ("Google"), including the services described below.
            p.text
                b
                    |Google Analytics.
                | 
                |This Site uses Google Analytics, a web analytics service that uses cookies, which we use for the purpose of understanding how Members use our Services, compiling reports on website activity, and providing other information relating to website activity and internet usage. Google will not associate your IP address with any other information held by Google.
            p.text
                |You may refuse the use of cookies by selecting the appropriate settings on your browser. However, if you delete cookies and/or prevent new ones, you will likely have to reenter preferences and settings every time you visit a website, and some services and functionalities may not work.
            p.text
                |You can prevent Google's collection and use of data such as cookies and IP address by downloading and installing the browser plug-in available <a href="https://tools.google.com/dlpage/gaoptout?hl=en-GB" target="_blank">here</a>.
            ul.text
                li
                    a(href="https://tools.google.com/dlpage/gaoptout?hl=en-GB" target="_blank")
                        |https://tools.google.com/dlpage/gaoptout?hl=en-GB
            p.text
                |More information about how Google uses advertising cookies can be found 
                a(href="http://www.google.com/analytics/terms/gb.html" target="_blank")
                    |here
                |.
            ul.text
                li
                    a(href="http://www.google.com/analytics/terms/gb.html" target="_blank")
                        |http://www.google.com/analytics/terms/gb.html
            p.text
                b
                    |Google Maps.
                | 
                |We use visual mapping services on the Site and/or our applications, please be aware that the Google Maps/Earth Terms of Service, including the Google Privacy Policy, at <a href="https://www.google.com/intl/en-US_US/help/terms_maps.html">https://www.google.com/intl/en-US_US/help/terms_maps.html</a> also applies.
            p.text
                b
                    |Google reCAPTCHA.
                | 
                |We use Google reCAPTCHA on the Site and/or our applications and it is also subject to Google's 
                a(href="https://policies.google.com/privacy" target="_blank")
                    | 
                    |Privacy Policy
                | 
                |and
                a(href="https://policies.google.com/terms" target="_blank")
                    | 
                    |Terms of Use
                |, which are available for your review.

            h4
                |L. Contact DiyaGroup

            p.text
                |DiyaGroup is responsible, as the "data processor", for the processing of your Personal Information processed in connection with the Services. If you have any questions, comments, or concerns about our processing activities, please email us at <a href="mailto:info@diyagroup.org">info@diyagroup.org</a>, or by phone at <a href="tel:408771-6014">(408) 771-6014</a>.
            p.text
                |You can also use our Contact Us page to make requests regarding managing and processing your information.

            h4
                |M. Changes To This Privacy Statement

            p.text
                |We reserve the right to change this Privacy Statement at any time. We will post any adjustments to the Privacy Statement on this page, and the revised version will be effective when it is posted. If we materially change the ways in which we use or share Personal Information previously collected from you through the Services, we will notify you through the Services, by email, or other communication.
