mixin aboutApp(title, text, link)
    .default-content-block
        .about-app-content
            if block
                .icon-container
                    block
            else
                img.image(src=require("../../images/contact-us/contact-us.png"))

            .main-info
                h3.title=title
                h5.info=text
                if link
                    a.material-btn(href=link)
                        span.label
                            span Contact Us