.contacts-container
    .map#js-google-map
    .contacts-overlay
        h1.title Contact Us
        ul.links
            li
                a(href="tel:+01-408-771-6017")
                    i.icon-phone
                    |+1 (408) 771-6014
            li
                a(href="mailto:info@diyagroup.org")
                    i.icon-email
                    |info@diyagroup.com
            li
                a(href="https://www.google.com/maps/search/?api=1&query=Oakland%2C+CA%2C+USA",
                  target="_blank")
                    i.icon-address
                    |Oakland, CA, USA