.contacts-container
    .map#js-google-map
    .contacts-overlay-container
        .contacts-overlay
            h1.title Contact Us
            ul.links
                li
                    a(href="tel:+01-408-771-6017")
                        i.icon-phone
                        |+1 (408) 771-6014
                li
                    a(href="mailto:amit.bansal@diyagroup.org")
                        i.icon-email
                        |amit.bansal@diyagroup.org
                li
                    a(href="https://www.google.com/maps/place/4364+Montgomery+St,+Oakland,+CA+94611,+USA",
                    target="_blank").address
                        i.icon-address
                        |4364 Montgomery St, Oakland,
                        br
                        | CA 94611, USA