include submit-message.pug
include contact-us-form.pug
 
mixin contactUs(organizationSizeOptions)
    .contact-us-container 
        .default-content-block
            .content
                .item
                    h3.title.text.
                        Contact Us
                    h4.text.
                        Haven’t found the answer to your question? Want to ask us about pricing options for your
                        organization? Contact us and we will return to
                        you shortly.
                    .image-container
                        img.image(src=require("../../images/contact-us/contact-us.png"), alt="Contact Us")
                .item
                    +contactUsForm(organizationSizeOptions)
    block script
        include ../shared/map-app.pug
        script(src="https://www.google.com/recaptcha/api.js", defer)