article.covid-info-content
        .covid-info-image
            img(src=require("../../images/index/covidvirus.png"), alt="Covidvirus" class="Covidvirus")
        h2.reduce REDUCE YOUR RISK OF CORONAVIRUS WITH DIYA!
        p Patients can track their COVID-19 exposure and symptoms (temperature, cough, fever, etc) from the safety and comfort of their homes. They can share this accurate history and symptom information with their family and physicians, especially if symptoms worsen. Physicians can also remotely monitor patients' symptoms from anywhere.