include ../shared/two-column-article.pug

mixin covidInfo(data)
    +twoColumnArticle({ container: 'red', secondaryRight: 'image-container' })
        +setContent('secondaryLeft')
            if data.title
                h4.text.title.covid-info=data.title
            span.text.covid-info=data.text
            if (data.link)
                a.text.link(href=data.link.href, rel=data.link.rel, target=data.link.target)=data.link.text
        +setContent('secondaryRight')
            block