.default-content-block.hidden-overflow
    .covid-info-content
        .item.main-info
            .icon-container
                include ../../images/icons/virus.svg
            span.text [COVID-19]
            span.text Reduce your risk of coronavirus with Diya
        .item.secondary-info
            span.text.
                Patients can track their COVID-19 exposure and symptoms (temperature, cough, fever, etc) from the safety and comfort of their homes.
                They can share this accurate history and symptom information with their family and physicians, especially if symptoms worsen.
                Physicians can also remotely monitor patients' symptoms from anywhere. 
            a.text.link(href="https://www.youtube.com/watch?v=I6mY-9erW6c", rel="noopener nofollow", target="_blank") Watch YouTube video

        .item.secondary-info.image-container
            img(src=require("../../images/patients-and-families/covid.jpg"))