mixin customers(additionalClass)
    .customers-container
        .customers-content(class=additionalClass)
            .customer-logo
                img(src=require("../../images/customers/Mt. Sinai Logo.png"), alt="Mt. Sinai Logo")
            .customer-logo
                img(src=require("../../images/customers/Naehas Logo.png"), alt="Naehas Logo")
            .customer-logo
                img(src=require("../../images/customers/Falck Logo.png"), alt="Falck Logo")