include submit-message.pug

mixin estimatedSavingsForm(organizationSizeOptions)
    - const options = organizationSizeOptions || []
    form.v3.contact-us-form.savings-inner(
        action=pages.contactUs.url,
        method="post",
        name="questions",
        novalidate,
        onsubmit="return diya.contactUs.estimatedSavings(event, this)")#form
        fieldset#fields
            .columns-container
                .column.left.padding-blocks
                    h3.title-margin Hospital Information
                    .form-box
                        p Physicians
                        .control-box
                            .form-control.padding
                                .input
                                    label(for="es-p-count") Count*
                                    input#es-p-count(name="physiciansCount", placeholder="70", type="number", max="999999", min="1")
                            .form-control
                                .input
                                    label(for="es-p-wage") Hourly Wage, $*
                                    input#es-p-wage(name="physiciansWage", placeholder="200", type="number", max="999999", min="1")
                    .form-box
                        p Nurses & Staff
                        .control-box
                            .form-control.padding
                                .input
                                    label(for="es-n-count") Count*
                                    input#es-n-count(name="nursesCount", placeholder="300", type="number", max="999999", min="1")
                            .form-control
                                .input
                                    label(for="es-n-wage") Hourly Wage, $*
                                    input#es-n-wage(name="nursesWage", placeholder="50", type="number", max="999999", min="1")
                   
                        
                .column.right.comment
                    h3.title-margin Diya’s Results
                    .form-box
                        p Family Communication Overhead
                        .control-box
                            .form-control
                                .input
                                    label(for="es-time") Hours per Day
                                    input#es-time(name="time", required, placeholder="1.1", type="number", max="999999", min="0.1")
                    .form-box
                        p Hospital Savings
                        .control-box
                            .form-control
                                .input
                                    label(for="es-percent", disabled) Percent Savings, %
                                    input#es-percent(name="percent", required, value="50", type="text", disabled)
           
            .button-block
                button.material-btn(type="submit").full-width
                    span.label
                        span CALCULATE SAVINGS
            .result-block
                p#result-block-value Projected Annual Cost Savings: $5,000,000

    .loader-container.hidden#loader
        .loader
            .circle
            .circle
            .circle
            .circle
            .circle
            