mixin followTeam()
    script.
            const newEl =  document.querySelector('.leadership-container');
            const backGround =  document.querySelector('.popup-team__background');
            const popupBox =  document.querySelector('.popup-team__content');
            const popupMainBox =  document.querySelector('.popup-team');
            const body =  document.querySelector('body');
            const popupSubtitleBox =  document.querySelector('.popup-team__subtitle');
            const dataBox =  document.querySelector('.popup-team__info-box');
            const textBox =  document.querySelector('.popup-team__text-box');
          
            newEl.addEventListener('click', e => {
                e.preventDefault();
                e.stopPropagation();

                const target = e.target.closest('.card-employees');
                if( target == null || target.classList.contains('position-card')) {
                    return
                }

                popupBox.classList.remove('hidden');
                popupBox.scrollTo({ top: 0 })
                backGround.classList.remove('hidden');
                body.classList.add('scroll-off');

                const popupLogo =  document.querySelector('.popup-team__logo');
                const popupSubtitle =  document.querySelector('.popup-team__subtitle-text');
                
                const popupText =  document.querySelector('.popup-team__text');
                const popupWork =  document.querySelector('.popup-team__work');
                const popupName =  document.querySelector('.popup-team__name');
                const popupLink =  document.querySelector('.popup-team__link');
                const infoBox =  document.querySelector('.popup-team__link');

                popupLogo.src = target.dataset.teamImage;
                popupSubtitle.innerHTML = target.dataset.teamQuote;
                popupText.innerHTML= target.dataset.teamBio;
                popupWork.innerHTML= target.dataset.teamTitle;
                popupName.innerHTML= target.dataset.teamName;
                popupLink.href= target.dataset.teamLinkedin;

                if (popupSubtitle.innerHTML === '') {
                    popupSubtitleBox.classList.add('hidden');
                    textBox.classList.add('order-first');
                    dataBox.classList.add('order-second');
                }
            });

            popupMainBox.addEventListener('click', e => {
                if (e.target.tagName === 'A') {
                    return;
                }
                e.preventDefault();
                e.stopPropagation();

                if (e.target.classList.contains('popup-team__close') || e.target.classList.contains('popup-team__background')) {
                    popupBox.classList.add('hidden');
                    backGround.classList.add('hidden');
                    body.classList.remove('scroll-off');
                    popupSubtitleBox.classList.remove('hidden');
                    textBox.classList.remove('order-first');
                    dataBox.classList.remove('order-second');
                }
            });
