footer.footer
    .container
        .section-logo
            img(src=require("../../images/diyagroup-logo-light.svg"), alt="DiyaGroup Logo")
        .section-site-map
            h4.section-title Menu
            ul.links
                li
                    a(href="./about-us") About Us
                li
                    a(href="./our-projects") Our Projects
                li
                    a(href="./how-to-help") How to Help
        .section-contacts
            h4.section-title Contact Us
            ul.links
                li
                    a(href="tel:+01-408-771-6017") +1 (408) 771-6014
                li
                    a(href="mailto:info@diyagroup.com") info@diyagroup.com
                li
                    a(href="https://www.google.com/maps/search/?api=1&query=Oakland%2C+CA%2C+USA",
                    target="_blank") Oakland, CA, USA
        .section-copyrignt
            .copyright-container
                p.copyright Copyright ©2018 DiyaGroup. All Rights Reserved.
                p.copyright DiyaGroup is a 501(c)3 non-profit organization.
            .link-container
                a(href="./privacy-policy") Privacy Policy
                a(href="./terms-and-conditions") Terms & Conditions
