mixin greatDownButton(id)
    .great-arrow
            .arrow-container.animated.fadeInDown(onclick=`window.diya.toAnchor(\`${id}\`)`) 
                img.arrow-2(src=require("../../images/home-care/images/down.png") alt='Down')
                .arrow-1.animated.hinge.infinite.zoomIn