mixin greatDownButton(id)
    .great-arrow
            a.arrow-container.animated.fadeInDown(href=`#${id}`) 
                img.arrow-2(src=require("../../images/controls/learn-more.svg") alt='Down')
                .arrow-1.animated.hinge.infinite.zoomIn