mixin helpPopupBody
    div.help-popup.hidden-help-popup
        span.help-popup-text

mixin helpPopup(helps)
    script.
        const popups = !{JSON.stringify(helps)};
        document
            .querySelectorAll('[data-help]')
            .forEach(x => 
            {x.addEventListener('mouseover', e => {
                e.preventDefault();
                e.stopPropagation();
            if (e.target.closest('.pricing-container__features-item-logo')) {
                e.target.classList.add('icon-active');
            }
                
                const target = e.target.closest('.closest');
                target.querySelector('.help-popup').classList.remove('hidden-help-popup');
                const [result] = popups.filter((e,index)=> target.dataset.help == index);
                target.querySelector('.help-popup-text').innerHTML=`${result}`;
                
            });
             x.addEventListener('mouseout', e => {
                e.preventDefault();
                e.stopPropagation();
                const target = e.target.closest('.closest');
                target.querySelector('.help-popup').classList.add('hidden-help-popup');
                target.querySelector('.pricing-container__features-item-logo').classList.remove('icon-active');
                
            })}
            );