mixin hoverCards
    script.
           const parentEl =  document.querySelector('.about-us');
           parentEl.addEventListener('mouseover', e => {
                    e.preventDefault();
                    e.stopPropagation();
                            
                    const target = e.target.closest('.card-employees')||e.target.closest('.card-press') ;
                                       
                    if( target == null) {
                        return
                    }
                    if (target.classList.contains('card-employees')) {
                        target.classList.add('card-shadow');
                    };
                    
                    const element = target.querySelector('.card-employees__arrow');
                    element.classList.remove('hidden');
          
                });

            parentEl.addEventListener('mouseout', e => {
                    e.preventDefault();
                    e.stopPropagation();
                            
                    const target = e.target.closest('.card-employees')||e.target.closest('.card-press');
                   
                    if( target == null) {
                        return
                    }

                    if (target.classList.contains('card-employees')) {
                        target.classList.remove('card-shadow');
                    };

                    const element = target.querySelector('.card-employees__arrow');
                    element.classList.add('hidden');
          
                });


                
