mixin integrationFeatures
    .integration-features.hidden-help-popup
        block
    .features-box
        span.text-collapse See all features
        .features-img 
            img(src=require("../../images/icons/direction-arrow.svg")) 
