doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=page.title
        meta(name="decription" content=page.description)
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600")
        link(rel="stylesheet", type="text/css", href="./css/styles.css")

        link(rel="apple-touch-icon", sizes="180x180", href="./apple-touch-icon.png?v=bORy0nKRd7")
        link(rel="icon", type="image/png", sizes="32x32", href="./favicon-32x32.png?v=bORy0nKRd7")
        link(rel="icon", type="image/png", sizes="16x16", href="./favicon-16x16.png?v=bORy0nKRd7")
        link(rel="manifest", href="./manifest.json?v=bORy0nKRd7")
        link(rel="mask-icon", href="./safari-pinned-tab.svg?v=bORy0nKRd7", color="#5bbad5")
        link(rel="shortcut icon", href="./favicon.ico?v=bORy0nKRd7")
        meta(name="msapplication-TileColor", content="#2d89ef")
        meta(name="theme-color", content="#ffffff")

        block head
    body
        include navigation.pug
        block content
        include footer.pug
        block script

        script(async, src=`https://www.googletagmanager.com/gtag/js?id=${keys.google.analytics}`)
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', "#{keys.google.analytics}");
