script(type="text/javascript"
       async,
       defer,
       src="./js/app.js")
script(type="text/javascript",
       async,
       defer,
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMFkqLFS7r01WraiC9HW-MiPxLnsl9xHM&callback=initGoogleMap")