article.medicare-content
        .medicare-image
            img(src=require("../../images/index/medicare.png"), alt="Medicare")
        .benefit 
            h1 Benefit from Medicare & Medicaid’s expanded billable services
            p.diya At Diya Health, we’ve developed the technology for physicians or allied health professionals (NPs, PAs) to be able to increase practice revenue from Virtual Check-ins (G2014 & G2012), e-Consults (93446-99451) and Online Digital Evaluations (G2061-2063) billing.  We know that during this unprecedented time, physician incomes have dropped drastically and our simple workflow will allow for businesses to regain some of their vital income ASAP. It requires very little equipment (mobile devices), utilizes a platform that is safe, and both patient and physician-friendly. 