nav.navigation-container
    div.logo-container
        img.logo(src=require("../../images/diyagroup-logo.svg"), alt="Diya Group Logo")
    ul.navigation
        li
            a(href="./our-projects") Our Projects
        li
            a(href="./how-to-help") How To Help
        li
            a(href="./contact-us") Contact Us
