mixin partners(additionalClass)
    .partners-container
        .partners-content(class=additionalClass)
            img.partner-icon(src=require("../../images/partners/kaiser-permanente-logo.svg"), alt="Kaiser Permanente Logo")
            img.partner-icon(src=require("../../images/partners/drugbank-logo.svg"), alt="Drugbank Logo")
            img.partner-icon(src=require("../../images/partners/nih-logo.svg"), alt="NIH Logo")