mixin signInButton(link, text)
    a#sign-in.material-btn(href=link)
        span.label
            span.text-container= text

mixin signInMyDiya
    +signInButton('https://mydiya.org/auth/sign-in', 'Sing In to myDiya')

mixin signInDiyaMd
    +signInButton('https://diyamd.org/auth/sign-in', 'Sign In')

mixin signInDiyaHr
    +signInButton('https://diyahr.org/auth/sign-in', 'Employers Sing In')
