mixin signInButton(link, additionalClass)
    a#sign-in.sign-in-button(href=link, class=additionalClass)
        span.label
            span.icon-container
                include ../../images/icons/diya-favicon.svg
            span.text-container Sign in with Diya Health