mixin submitMessage(title, id)
    .submit-message.hidden(id=id)
        .header-container
            .header-line
            i.icon-diya-lamp
            .header-line
        .message-title=title
        block

