mixin trackViewportEntry
    script.
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('in-viewport');
                    observer.unobserve(entry.target);
                }
            })
        }, { threshold: .9 });

        document
            .querySelectorAll('[data-viewport]')
            .forEach(el => observer.observe(el));
