mixin youtubeVideo(src)
    .default-content-block
        .youtube-video-wrapper
            iframe(width="1195", height="672", src=src, frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen=true)
