extends ../../html/shared/layout.pug

include ../../html/shared/contact-us.pug
include ../../html/shared/data-content-article.pug
include ../../html/shared/data-content-banner.pug

block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content
    - const rootId = mode === "development" ? `${page.url.substring(2)}` : null
    - const haveBanner = content.find(x => x.type === 'banner');
    - const resultArticlesLength = haveBanner ? content.length - 1 : content.length;
    each item, index in content
        if item.type == 'banner'
            +dataContentBanner(item, rootId)
        else
            +dataContentArticle(item, haveBanner ? index - 1 : index, rootId)
    - const isEven = (resultArticlesLength - 1) % 2 === 0 ? '' : 'contact-us-background-content'
    article(id="contact-us", class = isEven)
        +contactUs(organizationSizeOptions, rootId)